{% extends 'base.html' %}
{% load staticfiles extra_tags thumbnail widget_tweaks %}
{% block head %}
    <link href="{% static 'redactor/redactor.css' %}" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}
{% block content %}

    <main class="create_administrator">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="grid">
                <h4>Добавить администратора</h4>

                <label>Логин
                    <p class="text-danger">{{ form.username.errors|striptags }}</p>
                    {{ form.username }}
                </label>
                <label>E-mail
                    <p class="text-danger">{{ form.email.errors|striptags }}</p>
                    {{ form.email }}
                </label>
                <label>Имя
                    {{ form.first_name }}
                </label>
                <label>Фамилия
                    {{ form.last_name }}
                </label>
                <label>Пароль
                    <p class="text-danger">{{ form.password1.errors|striptags }}</p>
                    {{ form.password1 }}
                </label>
                <label>Подтвердите пароль
                    <p class="text-danger">{{ form.password2.errors|striptags }}</p>
                    {{ form.password2 }}
                </label>

                <button type="submit" class="button">Создать</button>
            </div>
        </form>
    </main>

{% endblock %}
