{% extends 'base.html' %}
{% load staticfiles thumbnail %}
{% block content %}
    <main class="all_specialists">
        <div class="grid">
            <div class="masters">
                <form method="get" class="filter_form" name="company_filter">
                    <label>
                        {{ company_filter.search }}
                    </label>
                    <button type="submit"></button>
                </form>
                <p>учреждения</p>
                <div id="pagediv-id">
                    {% include 'company/object.html' %}
                </div>
                <ul class="loading" id="loading" style="display: none">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                {% if is_paginated %}
                    <div class="more-button" id="buttonShowMany">
                        <div><input type='hidden' id='pagination-id' value='{{ page_obj.next_page_number }}'></div>
                        <a id="load-id">Показать больше</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script src="{% static 'js/ajax-pagination.js' %}"></script>
    <script>
        var page_url = window.location.href;
        $("#load-id").click(function () {
            load_page(page_url, "#pagination-id", "#load-id", "#pagediv-id", function (callback) {
            });
        });
    </script>
{% endblock %}