{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <main class="company">
		<div class="grid">
			<div class="personal_block">

				<div class="master">
					<a class="master_img">
						<span>
							<img src="img/Johnny-Depp-Net-Worth-and-Sal.svg" alt="image">
						</span>
					</a>

					<div class="master_desc">
						<h4>Джонни Депп</h4>
						<span>Педиатр, детский лор, аллерголог...</span>
						<span></span>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque turpis purus, pellentesque quis rhoncus non, consectetur a diam. Fusce volutpat amet</p>
						<ul>
							<li>
								г. Бишкек, ул. Уметалиева, тц. "Весна", 3 этаж, кабинет 37 sdfhj sadfjhasd fdasfkh
							</li>
							<li>
								+996 705 578 842  +996 705 578 842
							</li>
							<li>
								aigulbb@info.com
							</li>
						</ul>
					</div>
					<a href="#">ОСТАВИТЬ ОТЗЫВ</a>
				</div>
			</div>

			<div class="shedule_block">

				<div class="iframe">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6154150.783456076!2d70.24735641073894!3d41.13547693654861!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3897381dfce927f3%3A0x281058b74e88c433!2z0JrQuNGA0LPQuNC30LjRjw!5e0!3m2!1sru!2sru!4v1503912235203" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>

				<div class="p_description">
					<div>
						<h4>О специалисте</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula eleifend nisl non consequat. Mauris sed dui sed quam dapibus egestas. Sed congue dictum est et condimentum. Nullam in consectetur magna. Vestibulum in turpis feugiat, suscipit nisl ac, posuere est. Cras lectus tortor, ultrices ac arcu vel, tincidunt bibendum arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquet finibus ante ac convallis. Nunc tincidunt erat sit amet lorem convallis rhoncus. Maecenas faucibus auctor felis hendrerit feugiat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur vitae sagittis nisl, sed bibendum neque. Fusce maximus lectus id est vulputate blandit. Vestibulum ut magna porttitor felis consectetur eleifend at ut dui.</p>
						<p>Sed venenatis vulputate turpis eget vehicula. Mauris non tempor lorem, eget commodo enim. Curabitur ut pharetra arcu, egestas suscipit velit. Etiam finibus neque in quam maximus, vel malesuada lorem placerat. Sed porttitor diam et sodales luctus. Sed dictum faucibus mollis. Cras ac efficitur nulla. Ut et dignissim nisi, at faucibus mi. Phasellus sollicitudin rhoncus justo, a lacinia lacus rhoncus sed. Aenean hendrerit urna et lectus consequat, in eleifend sapien dignissim. Etiam consectetur risus eu lacus hendrerit, eget ultrices urna varius. Pellentesque volutpat vitae ante a rhoncus. Pellentesque blandit faucibus viverra. Pellentesque eget iaculis enim, in dapibus nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse ac tempus diam.</p>
					</div>

					<div>
						<h4>Услуги</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula eleifend nisl non consequat. Mauris sed dui sed quam dapibus egestas. Sed congue dictum est et condimentum. Nullam in consectetur magna. Vestibulum in turpis feugiat, suscipit nisl ac, posuere est. Cras lectus tortor, ultrices ac arcu vel, tincidunt bibendum arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquet finibus ante ac convallis. Nunc tincidunt erat sit amet lorem convallis rhoncus. Maecenas faucibus auctor felis hendrerit feugiat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur vitae sagittis nisl, sed bibendum neque. Fusce maximus lectus id est vulputate blandit. Vestibulum ut magna porttitor felis consectetur eleifend at ut dui.</p>
						<p>Sed venenatis vulputate turpis eget vehicula. Mauris non tempor lorem, eget commodo enim. Curabitur ut pharetra arcu, egestas suscipit velit. Etiam finibus neque in quam maximus, vel malesuada lorem placerat. Sed porttitor diam et sodales luctus. Sed dictum faucibus mollis. Cras ac efficitur nulla. Ut et dignissim nisi, at faucibus mi. Phasellus sollicitudin rhoncus justo, a lacinia lacus rhoncus sed. Aenean hendrerit urna et lectus consequat, in eleifend sapien dignissim. Etiam consectetur risus eu lacus hendrerit, eget ultrices urna varius. Pellentesque volutpat vitae ante a rhoncus. Pellentesque blandit faucibus viverra. Pellentesque eget iaculis enim, in dapibus nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse ac tempus diam.</p>
					</div>
				</div>

				<div class="employees">
					<h4>Наши специалисты</h4>
					<div>
						<div class="master">
							<a href="#" class="master_img">
								<span>
									<img src="img/Johnny-Depp-Net-Worth-and-Sal.svg" alt="image">
								</span>
							</a>

							<div class="master_desc">
								<h4>Джонни Депп</h4>
								<span>Педиатр, детский лор, аллерголог...</span>
								<span></span>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque turpis purus, pellentesque quis rhoncus non, consectetur a diam. Fusce volutpat amet</p>
								<ul>
									<li>
										г. Бишкек, ул. Уметалиева, тц. "Весна", 3 этаж, кабинет 37
									</li>
									<li>
										+996 705 578 842
									</li>
								</ul>
							</div>
							<a href="#">ПОСМОТРЕТЬ</a>
						</div>

						<div class="master">
							<a href="#" class="master_img">
								<span>
									<img src="img/Johnny-Depp-Net-Worth-and-Sal.svg" alt="image">
								</span>
							</a>

							<div class="master_desc">
								<h4>Джонни Депп</h4>
								<span>Педиатр, детский лор, аллерголог...</span>
								<span></span>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque turpis purus, pellentesque quis rhoncus non, consectetur a diam. Fusce volutpat amet</p>
								<ul>
									<li>
										г. Бишкек, ул. Уметалиева, тц. "Весна", 3 этаж, кабинет 37
									</li>
									<li>
										+996 705 578 842
									</li>
								</ul>
							</div>
							<a href="#">ПОСМОТРЕТЬ</a>
						</div>

						<div class="master">
							<a href="#" class="master_img">
								<span>
									<img src="img/Johnny-Depp-Net-Worth-and-Sal.svg" alt="image">
								</span>
							</a>

							<div class="master_desc">
								<h4>Джонни Депп</h4>
								<span>Педиатр, детский лор, аллерголог...</span>
								<span></span>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque turpis purus, pellentesque quis rhoncus non, consectetur a diam. Fusce volutpat amet</p>
								<ul>
									<li>
										г. Бишкек, ул. Уметалиева, тц. "Весна", 3 этаж, кабинет 37
									</li>
									<li>
										+996 705 578 842
									</li>
								</ul>
							</div>
							<a href="#">ПОСМОТРЕТЬ</a>
						</div>

						<div class="master">
							<a href="#" class="master_img">
								<span>
									<img src="img/Johnny-Depp-Net-Worth-and-Sal.svg" alt="image">
								</span>
							</a>

							<div class="master_desc">
								<h4>Джонни Депп</h4>
								<span>Педиатр, детский лор, аллерголог...</span>
								<span></span>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque turpis purus, pellentesque quis rhoncus non, consectetur a diam. Fusce volutpat amet</p>
								<ul>
									<li>
										г. Бишкек, ул. Уметалиева, тц. "Весна", 3 этаж, кабинет 37
									</li>
									<li>
										+996 705 578 842
									</li>
								</ul>
							</div>
							<a href="#">ПОСМОТРЕТЬ</a>
						</div>
					</div>

					<div class="preloader" id="loading">
						<div class="circ1"></div>
						<div class="circ2"></div>
						<div class="circ3"></div>
						<div class="circ4"></div>
					</div>

					<a href="#">БОЛЬШЕ СПЕЦИАЛИСТОВ</a>

				</div>




			</div>

			<div class="certificates">
				<div id="lightgallery">
					<a href="img/certificate.svg">
						<img src="img/certificate.svg">
					</a>
					<a href="img/certificate.svg">
						<img src="img/certificate.svg">
					</a>

					<a href="img/certificate.svg">
						<img src="img/certificate.svg">
					</a>

					<a href="img/certificate.svg">
						<img src="img/certificate.svg">
					</a>

					<a href="img/certificate.svg">
						<img src="img/certificate.svg">
					</a>

					<a href="img/certificate.svg">
						<img src="img/certificate.svg">
					</a>
				</div>
			</div>
		</div>
	</main>

{% endblock %}