{% extends 'base.html' %}

{% load staticfiles extra_tags thumbnail %}

{% block content %}

    <main class="company">
        <div class="grid">
            <div class="personal_block">

                <div class="master">
                    <a class="master_img">
						<span>
							<img src="{{ company.logo.url }}" alt="image">
						</span>
                    </a>

                    <div class="master_desc">
                        <h4>{{ company.name }}</h4>
                        <span>
                        {% for tag in company.company_tags.all %}
                            {{ tag.name }},
                        {% endfor %}
                        </span>
                        <span></span>
                        <p>{{ company.short_info }}</p>
                        <ul>
                            <li>
                                {{ company.street_address }}
                            </li>
                            <li>
                                {{ company.number }}
                            </li>
                            <li>
                                {{ company.email }}
                            </li>
                        </ul>
                    </div>
                    <a href="#">ОСТАВИТЬ ОТЗЫВ</a>
                </div>
            </div>

            <div class="shedule_block">
                {% if company.longitude and company.latitude %}
                    <div id="mapholder" style="height: 250px;"></div>
                {% endif %}
                <div class="p_description">
                    <div>
                        <h4>О Компании</h4>
                        {{ company.info|safe }}
                    </div>

                    <div>
                        <h4>Услуги</h4>
                        {% for tag in company.company_tags.all %}
                            {{ tag.name }},
                        {% endfor %}
                    </div>
                </div>
                {% include 'company/specialist_of_company.html' %}
            </div>
            {% include 'company/certificate_of_company.html' %}
        </div>
    </main>

{% endblock %}

{% block js %}
    <script type="text/javascript">

        function initMap() {
            var tmp_lt = '{{ company.latitude|default_if_none:0 }}';
            var tmp_ln = '{{ company.longitude|default_if_none:0 }}';
            var lt = tmp_lt.replace(",", ".");
            var ln = tmp_ln.replace(",", ".");
            var uluru = {lat: parseFloat(lt), lng: parseFloat(ln)};
            var map = new google.maps.Map(document.getElementById('mapholder'), {
                zoom: 17,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDesqzrUZme031xt28r-4vQTkaBSm96Teo&callback=initMap">
    </script>
{% endblock %}