{% extends 'base.html' %}

{% load staticfiles extra_tags thumbnail %}

{% block content %}

    <main class="company">
        <div class="grid">
            <div class="personal_block">

                <div class="master">
                    <a class="master_img">
						<span>
                        {% if company.logo %}
                            {% thumbnail company.logo "154x154" as im %}
                                <img src="{{ im.url }}" alt="{{ company.name }}">
                            {% endthumbnail %}
                        {% else %}
                            <img src="{% static 'img/no_photo.png' %}" alt="image">
                        {% endif %}
						</span>
                    </a>

                    <div class="master_desc">
                        <h4>{{ company.name }}</h4>
                        <span>
                            {{ company.get_categories }}
                        </span>
                        <span></span>
                        <p>{{ company.short_info }}</p>
                        <ul>
                            <li>
                                {{ company.street_address }}
                            </li>
                            <li>
                                {% for contact in company.contacts.all %}
                                    {{ contact.phone }}
                                {% endfor %}
                            </li>
                            <li>
                                {{ company.email }}
                            </li>
                        </ul>
                    </div>
                    {% if request.user != company.user %}
                        <a href="#" id="leave_comment">ОСТАВИТЬ ОТЗЫВ</a>

                    {% endif %}
                    {% if request.user == company.user %}
                        <a href="{% url 'company_edit' company.slug %}">Редактировать</a>
                    {% endif %}
                </div>
                {% if request.user == company.user %}
                    <a href="{% url 'user_search' company.slug %}" class="add_specialist">Пригласить специалиста</a>
                {% endif %}
            </div>

            <div class="shedule_block">
                {% include 'messages.html' %}
                {% if company.longitude and company.latitude %}
                    <div id="mapholder" style="height: 250px;"></div>
                {% endif %}
                <div class="p_description">
                    <div>
                        <h4>О Компании</h4>
                        {{ company.info|safe }}
                    </div>
                    {% if company.legal_data %}
                        <div>
                            <h4>Юридическая информация</h4>
                            <p>{{ company.legal_data }}</p>
                        </div>
                    {% endif %}
                    <div>
                        <h4>Услуги</h4>
                        {% for tag in company.company_tags.all %}
                            <span>{{ tag.name }}</span>
                        {% endfor %}
                    </div>

                </div>

                {% include 'company/specialist_of_company.html' %}
            </div>


            {% include 'company/certificate_of_company.html' %}
        </div>
    </main>

    {% include 'company/rating_company_form.html' %}
    {% include 'company/reviews.html' %}
{% endblock %}

{% block js %}
    <script type="text/javascript">

        function initMap() {
            var tmp_lt = '{{ company.latitude|default_if_none:0 }}';
            var tmp_ln = '{{ company.longitude|default_if_none:0 }}';
            var lt = tmp_lt.replace(",", ".");
            var ln = tmp_ln.replace(",", ".");
            var uluru = {lat: parseFloat(lt), lng: parseFloat(ln)};
            var map = new google.maps.Map(document.getElementById('mapholder'), {
                zoom: 17,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDesqzrUZme031xt28r-4vQTkaBSm96Teo&callback=initMap">
    </script>
{% endblock %}