{% extends 'base.html' %}
{% load staticfiles extra_tags thumbnail widget_tweaks %}
{% block head %}
    <link href="{% static 'redactor/redactor.css' %}" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}
{% block content %}

    <main class="company edit_company">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="grid">
                <div class="personal_block">
                    <div class="master">
                        <a class="master_img">
					<span>
                        {% if object.logo %}
                            {% thumbnail object.logo "154x154" as im %}
                                <img id="img" src="{{ im.url }}" alt={{ object.full_name }}>
                            {% endthumbnail %}
                            {% else %}
                            <img id="img" src="{% static 'img/no_photo.png' %}" alt="image">
                        {% endif %}
					</span>

                            <label for="upload">
                                <input type='file' id="upload" name="logo">
                            </label>
                        </a>

                        <div class="master_desc">
                            <h4>{{ object.name }}</h4>
                            <span>{{ object.get_categories }}</span>
                            <span></span>
                            <p>{{ object.short_info }}</p>
                            <ul>
                                <li>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> {{ object.street_address }}
                                </li>
                                <li>
                                    {% for contact in object.contacts.all %}
                                        <i class="fa fa-phone" aria-hidden="true"></i> {{ contact.phone }}
                                    {% endfor %}
                                </li>
                                <li>
                                    <i class="fa fa-envelope" aria-hidden="true"></i> {{ object.email }}
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="hidden">РЕДАКТИРОВАТЬ</a>
                    </div>
                </div>


                <div class="shedule_block">
                    {% include 'messages.html' %}
                    <div class="general_information">
                        <p>Информация об учреждении</p>
                        <div class="first_block">
                            <div class="add_block">
                                <p class="text-danger">{{ form.name.errors|striptags }}</p>
                                {{ form.name }}
                                <p class="text-danger">{{ form.email.errors|striptags }}</p>
                                {{ form.email }}
                                <div class="edit_phone_number">
                                    <table id="id_phones" border="0" cellpadding="0" cellspacing="25">
                                        {% for form in phones %}
                                            <tr id="{{ form.prefix }}-row">
                                                <td>
                                                    {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                                                    {{ form.phone|add_class:"mask" }}
                                                </td>
                                                <td class="del_number">
                                                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                    {{ phones.management_form }}
                                </div>
                            </div>

                            <div>
                                <p class="text-danger">{{ form.street_address.errors|striptags }}</p>
                                {{ form.street_address }}
                                <p class="text-danger">{{ form.short_info.errors|striptags }}</p>
                                {{ form.short_info }}
                            </div>
                        </div>
                        <p class="text-danger">{{ form.categories.errors|striptags }}</p>
                        <p>Ваши услуги</p>
                        <div class="second_block">
                            <select multiple class="categories-select" id="id_categories" name="categories" required
                                    placeholder="Сфера деятельности" style="width: 50%;">

                            </select>


                            {{ form.company_tags }}
                            <p class="text-danger">{{ form.company_tags.errors|striptags }}</p>
                        </div>

                        <p>Юридистические данные</p>
                        <p class="text-danger">{{ form.legal_data.errors|striptags }}</p>
                        {{ form.legal_data }}

                        <p>Подробная информация</p>

                        <p class="text-danger">{{ form.info.errors|striptags }}</p>
                        {{ form.info }}

                        <p>Ваше расположение</p>

{#                        <div id="mapholder-0" style="height: 250px; margin-bottom: 20px"></div>#}
{#                        <button type="button" name="get-location-0" class="get_location"#}
{#                                data-action="get-location">#}
{#                            Определить местоположение#}
{#                        </button>#}
                        <div id="map" style="width:100%; height:300px; margin-bottom: 10px;"></div>
                        <button id="find-location">Определить местоположение</button>
                        <span id="notification-0" class="uk-text-danger"></span>
                        {{ form.latitude|add_class:"hidden" }} {{ form.longitude|add_class:"hidden" }}


                        <p>Добавление сертификата</p>
                        <table id="id_formset" class="edit_company_certificates" cellspacing="0">

                            <tbody>
                            {% for form in formset %}
                                <tr id="{{ form.prefix }}-row">
                                    <td class="chosen_certificate">
                                        {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                                        {{ form.certificate }}
{#                                        <label class="filupp">#}
{#                                            {{ form.certificate|add_class:"add_file" }}#}
{#                                            <span class="filupp-file-name js-value">Добавить сертификат</span>#}
{#                                        </label>#}

                                    </td>
                                    <td class="del_certificate">
                                        {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                        <img src="{% static 'img/x.png' %}" alt="">
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {{ formset.management_form }}

                        <button type="submit" class="button">Сохранить</button>
                    </div>
                </div>
            </div>
            </div>
        </form>
    </main>

{% endblock %}
{% block js %}
    <!--<script src="{% static 'js/main.js' %}"></script>-->
    <script src="{% static 'js/select2.js' %}"></script>
{#    {% load_google_map_js %}#}
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
    <script src="{% static 'redactor/redactor.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script>
    function check_true_link() {
    // var certificate = $('.chosen_certificate a');
    //console.log("asdfasd");
    $('tbody .chosen_certificate').each(function (i, obj) {
        if ($(obj).children('a').length == true) {
            $(obj).prepend('<img src="" alt="">');
            var img_link = $(obj).children('a').attr('href');
            $(obj).children('img').attr('src', img_link );
        }
    })
}
        $(document).ready(
            function () {
                $('#id_info').redactor({
                    changeCallback(html) {
                        $("#id_info").trigger('change');
                    }
                });
                check_true_link()
            }
        );

        $('#id_phones tbody tr').formset({
            prefix: 'contacts',
            addText: 'Добавить контакт',
            deleteText: ''
        });

        $('#id_formset tbody tr').formset({
            prefix: 'certifications',
            addText: 'Добавить сертификат',
            deleteText: ''
        });

        var latitude = $('#id_latitude');
        var longitude = $('#id_longitude');
        var findLocation = $('#find-location');

        DG.then(function () {
            var map,
                marker;

            map = DG.map('map', {
                center: [42.8735868, 74.5768934],
                zoom: 10
            });

            marker = DG.marker([42.8735868, 74.5768934], {
                draggable: true
            }).addTo(map).bindLabel('Перетащите маркер!');

            latitude.val(42.8735868);
            longitude.val(74.5768934);

            marker.on('drag', function (e) {
                var lat = e.target._latlng.lat.toFixed(3),
                    lng = e.target._latlng.lng.toFixed(3);


                latitude.val(lat);
                longitude.val(lng);
            });

            findLocation.on('click', function (e) {
                map.locate({setView: true})
                    .on('locationfound', function (e) {

                        marker.setLatLng([e.latitude, e.longitude]);

                        latitude.val(e.latitude);
                        longitude.val(e.longitude);
                    })
                    .on('locationerror', function (e) {
                        DG.popup()
                            .setLatLng(map.getCenter())
                            .setContent('Доступ к определению местоположения отключён')
                            .openOn(map);
                    });

                e.preventDefault();
            });

        });

{#        $(document).ready(function () {#}
{#            GoogleMap.mapHolder = $('#mapholder-0');#}
{#            GoogleMap.latitudeInput = $('input[name="latitude"]');#}
{#            GoogleMap.longitudeInput = $('input[name="longitude"]');#}
{#            GoogleMap.notificationLabel = $('#notification-0');#}
{#            GoogleMap.getLocationButton = $('button[data-action="get-location"]');#}
{#            GoogleMap.initialize(true);#}
{#        });#}

        var categories = [
            {% for category in categories %}
                {
                    "text": "{{ category.name }}",
                    "children": [
                        {% for child in category.get_children %}
                            {
                                "id": "{{ child.pk }}",
                                "text": "{{ child.name }}",
                                "element": HTMLOptionElement
                            },
                        {% endfor %}
                    ],
                    "element": HTMLOptGroupElement
                },
            {% endfor %}
        ];
        (function () {
            var html = '';
            var selectedCategories = [];
            {% for cat in object.categories.all %}
            selectedCategories.push({{cat.id}});
            {% endfor %}
            for (var i = 0; i < categories.length; i++) {
                html += "<optgroup label=" + categories[i].text + ">";
                for (var j = 0; j < categories[i].children.length; j++) {
                    var state = false;
                    for (var k=0; k<selectedCategories.length; k++) {
                        if (selectedCategories[k] == categories[i].children[j].id) {
                            state = true;
                            break;
                        }
                    }
                    if (state) {
                        html += "<option selected='selected' value='" + categories[i].children[j].id + "'>" + categories[i].children[j].text + "</option>"
                    } else {
                        html += "<option value='" + categories[i].children[j].id + "'>" + categories[i].children[j].text + "</option>"
                    }
                }
                html += "</optgroup>";
            }
            $(".categories-select").html(html);
        })();


    </script>

{% endblock %}