{% extends 'base.html' %}
{% load staticfiles extra_tags thumbnail widget_tweaks %}
{% block head %}
    <link href="{% static 'redactor/redactor.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'bower_components/cropper/dist/cropper.min.css' %}">
{% endblock %}
{% block content %}

    <main class="company edit_company">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="image-crop-data" id="image-crop-data">
            <div class="grid">
                <div class="personal_block">
                    <div class="master">
                        <a class="master_img">
					<span class="img-preview-cropper">
                        {% if object.logo %}
                            {% thumbnail object.logo "154x154" as im %}
                                <img id="img" src="{{ im.url }}" alt={{ object.full_name }}>
                            {% endthumbnail %}
                            {% else %}
                            <img id="img" src="{% static 'img/no_photo.png' %}" alt="image">
                        {% endif %}
					</span>

                            <label for="upload">
                                <input type='file' id="upload" name="logo">
                            </label>
                        </a>

                        <div class="master_desc">
                            <h4>{{ object.name }}</h4>
                            <span>{{ object.get_categories }}</span>
                            <span></span>
                            <p>{{ object.short_info }}</p>
                            <ul>
                                <li>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> {{ object.street_address }}
                                </li>
                                <li>
                                    {% for contact in object.contacts.all %}
                                        <a href="tel: {{ contact.phone }}">
                                            <i class="fa fa-phone" aria-hidden="true"></i> {{ contact.phone }}
                                        </a>
                                    {% endfor %}
                                </li>
                                <li>
                                    <i class="fa fa-envelope" aria-hidden="true"></i> {{ object.email }}
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="hidden">РЕДАКТИРОВАТЬ</a>
                    </div>
                </div>


                <div class="shedule_block">
                    {% include 'messages.html' %}
                    <div class="general_information">
                        <p>Информация об учреждении</p>
                        <div class="first_block">
                            <div class="add_block">
                                <p class="text-danger">{{ form.name.errors|striptags }}</p>
                                {{ form.name }}
                                <p class="text-danger">{{ form.email.errors|striptags }}</p>
                                {{ form.email }}
                             <p class="text-danger">{{ form.short_phone.errors|striptags }}</p>
                                {{ form.short_phone }}
                                <div class="edit_phone_number">
                                    <table id="id_phones" border="0" cellpadding="0" cellspacing="25">
                                        {% for form in phones %}
                                            <tr id="{{ form.prefix }}-row">
                                                <td>
                                                    {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                                                    {{ form.phone|add_class:"mask" }}
                                                </td>
                                                <td class="del_number">
                                                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                    {{ phones.management_form }}
                                </div>
                            </div>

                            <div>
                                <p class="text-danger">{{ form.street_address.errors|striptags }}</p>
                                {{ form.street_address }}
                                <p class="text-danger">{{ form.short_info.errors|striptags }}</p>
                                {{ form.short_info }}
                            </div>
                        </div>
                        <p class="text-danger">{{ form.categories.errors|striptags }}</p>
                        <p>Ваши услуги</p>
                        <div class="second_block">
                            <select multiple class="categories-select" id="id_categories" name="categories" required
                                    placeholder="Сфера деятельности" style="width: 50%;">

                            </select>


                            {{ form.company_tags }}
                            <p class="text-danger">{{ form.company_tags.errors|striptags }}</p>
                        </div>

                        <p>Подробная информация</p>

                        <p class="text-danger">{{ form.info.errors|striptags }}</p>
                        {{ form.info }}

                        <p>Ваше расположение</p>

{#                        <div id="mapholder-0" style="height: 250px; margin-bottom: 20px"></div>#}
{#                        <button type="button" name="get-location-0" class="get_location"#}
{#                                data-action="get-location">#}
{#                            Определить местоположение#}
{#                        </button>#}
                        <div id="map" style="width:100%; height:300px; margin-bottom: 10px;"></div>
                        <button id="find-location">Определить местоположение</button>
                        <span id="notification-0" class="uk-text-danger"></span>
                        {{ form.latitude|add_class:"hidden" }} {{ form.longitude|add_class:"hidden" }}


                        <p>Добавление сертификата</p>
                        <table id="id_formset" class="edit_company_certificates" cellspacing="0">

                            <tbody>
                            {% for form in formset %}
                                <tr id="{{ form.prefix }}-row">
                                    <td class="chosen_certificate">
                                        {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                                        {{ form.certificate }}
{#                                        <label class="filupp">#}
{#                                            {{ form.certificate|add_class:"add_file" }}#}
{#                                            <span class="filupp-file-name js-value">Добавить сертификат</span>#}
{#                                        </label>#}

                                    </td>
                                    <td class="del_certificate">
                                        {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                        <img src="{% static 'img/x.png' %}" alt="">
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {{ formset.management_form }}

                        <button type="submit" class="button">Сохранить</button>
                    </div>
                </div>
            </div>
            </div>
        </form>
    </main>

<!--avatar crop modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Измените изображение</h4>
            </div>
            <div class="modal-body">
                <div class="img-wrapper">
                    <img src="" alt="" class="imagePreview" style="max-width: 100%">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Применить</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}

    <!--<script src="{% static 'js/main.js' %}"></script>-->
    <script src="{% static 'js/select2.js' %}"></script>
{#    {% load_google_map_js %}#}
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
    <script src="{% static 'redactor/redactor.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'bower_components/cropper/dist/cropper.min.js' %}"></script>
    <script>
    // bug fix for bootstrap backdrop
    document.querySelector(".modal.fade").onclick = function (e) {
            e.preventDefault(); e.stopPropagation(); return false;
        };
    function check_true_link() {
    // var certificate = $('.chosen_certificate a');
    //console.log("asdfasd");
    $('tbody .chosen_certificate').each(function (i, obj) {
        if ($(obj).children('a').length) {
            $(obj).prepend('<img src="" alt="">');
            var img_link = $(obj).children('a').attr('href');
            $(obj).children('img').attr('src', img_link );
        }
    })
}
        $(document).ready(
            function () {
                $('#id_info').redactor({
                    changeCallback(html) {
                        $("#id_info").trigger('change');
                    }
                });
                check_true_link()
            }
        );

        $('#id_phones tbody tr').formset({
            prefix: 'contacts',
            addText: 'Добавить контакт',
            deleteText: ''
        });

        $('#id_formset tbody tr').formset({
            prefix: 'certifications',
            addText: 'Добавить сертификат',
            deleteText: ''
        });

        var latitude = document.querySelector("#id_latitude");
        var longitude = document.querySelector("#id_longitude");
        var findLocation = $('#find-location');

        DG.then(function () {
            var map,
                marker;

            var lat = parseFloat('{{form.latitude.value}}'.replace(",", "."));
            var lng = parseFloat('{{form.longitude.value}}'.replace(",", "."));

            map = DG.map('map', {
                center: [lat, lng],
                zoom: 15
            });

            marker = DG.marker([lat, lng], {
                draggable: true
            }).addTo(map).bindLabel('Перетащите маркер чтобы изменить местоположение');

            // latitude.val(42.8735868);
            // longitude.val(74.5768934);

            marker.on('drag', function (e) {
                latitude.setAttribute('value', +e.latlng.lat.toFixed(4));
                longitude.setAttribute('value', +e.latlng.lng.toFixed(4));
            });

            findLocation.on('click', function (e) {
                map.locate({setView: true})
                    .on('locationfound', function (e) {
                        console.log(e);
                        marker.setLatLng([e.latitude, e.longitude]);

                        latitude.setAttribute('value', +e.latitude.toFixed(4));
                        longitude.setAttribute('value', +e.longitude.toFixed(4));
                    })
                    .on('locationerror', function (e) {
                        DG.popup()
                            .setLatLng(map.getCenter())
                            .setContent('Доступ к определению местоположения отключён')
                            .openOn(map);
                    });

                e.preventDefault();
            });

        });

{#        $(document).ready(function () {#}
{#            GoogleMap.mapHolder = $('#mapholder-0');#}
{#            GoogleMap.latitudeInput = $('input[name="latitude"]');#}
{#            GoogleMap.longitudeInput = $('input[name="longitude"]');#}
{#            GoogleMap.notificationLabel = $('#notification-0');#}
{#            GoogleMap.getLocationButton = $('button[data-action="get-location"]');#}
{#            GoogleMap.initialize(true);#}
{#        });#}

        var categories = [
            {% for category in categories %}
                {
                    "text": "{{ category.name }}",
                    "children": [
                        {% for child in category.get_children %}
                            {
                                "id": "{{ child.pk }}",
                                "text": "{{ child.name }}",
                                "element": HTMLOptionElement
                            },
                        {% endfor %}
                    ],
                    "element": HTMLOptGroupElement
                },
            {% endfor %}
        ];
        (function () {
            var html = '';
            var selectedCategories = [];
            {% for cat in object.categories.all %}
            selectedCategories.push({{cat.id}});
            {% endfor %}
            for (var i = 0; i < categories.length; i++) {
                html += "<optgroup label=" + categories[i].text + ">";
                for (var j = 0; j < categories[i].children.length; j++) {
                    var state = false;
                    for (var k=0; k<selectedCategories.length; k++) {
                        if (selectedCategories[k] == categories[i].children[j].id) {
                            state = true;
                            break;
                        }
                    }
                    if (state) {
                        html += "<option selected='selected' value='" + categories[i].children[j].id + "'>" + categories[i].children[j].text + "</option>"
                    } else {
                        html += "<option value='" + categories[i].children[j].id + "'>" + categories[i].children[j].text + "</option>"
                    }
                }
                html += "</optgroup>";
            }
            $(".categories-select").html(html);
        })();


    </script>
    <script>
    // cropper for image uploading
    $("#upload").change(function () {
        var myModal$ = $("#myModal");
        var cropData = $("#image-crop-data");
        var reader = new FileReader();
        // show modal onload + add image + init cropper
        reader.onload = function (event) {
            $(".imagePreview").prop("src", event.target.result);
            myModal$.on('shown.bs.modal', function () {
                initCropper(cropData);
            });
            myModal$.on('hidden.bs.modal', function () {
                $(".imagePreview").cropper('destroy');
            });
            myModal$.modal();
        };
        // read file value
        reader.readAsDataURL($(this).prop('files')[0]);

    });
    function initCropper(cropData) {
        var $preview = $(".img-preview-cropper");
        $(".imagePreview").cropper({
            viewMode: 0,
            dragMode: "move",
            aspectRatio: 1,
            ready: function (e) {
                $("#img").css({
                    display: 'block',
                    width: '100%',
                    minWidth: 0,
                    minHeight: 0,
                    maxWidth: 'none',
                    maxHeight: 'none'
                });
                $preview.css({
                    width: '55%',
                    overflow: 'hidden'
                });
            },
            crop: function (e) {
                cropData.val(JSON.stringify({
                    x: Math.round(e.x),
                    width: Math.round(e.width),
                    y: Math.round(e.y),
                    height: Math.round(e.height)
                }));
                var imageData = $(this).cropper('getImageData');
                var previewWidth = $preview.width();
                var previewHeight = 134;
                var imageScaledRatio = e.width / previewWidth;

                $preview.height(previewHeight).find('img').css({
                    width: imageData.naturalWidth / imageScaledRatio,
                    height: imageData.naturalHeight / imageScaledRatio,
                    marginLeft: -e.x / imageScaledRatio,
                    marginTop: -e.y / imageScaledRatio
                });
            }
        });
    }
</script>
    <style>
    .btn {
        background-color: initial;
        width: auto;
        padding: auto auto;
        z-index: auto;
        font-size: inherit;
        margin: auto;
        color: inherit;
    }
    .btn-success {
        border: 1px solid #1eebe6;
    }
    .btn-success:hover {
        background-color: #1eebe6;
        color: #fff;
        border-color: #1eebe6;
    }
</style>

{% endblock %}