{% extends 'base.html' %}
{% load staticfiles thumbnail %}
{% block content %}
    <main class="personal-management">
        {% include 'messages.html' %}
        <div class="grid">
            <ul class="tabs_nav">
                <li><a href="{% url 'employees_specialist_list' company.slug %}" class="tab-active">СПЕЦИАЛИСТЫ</a></li>
                <li><a href="{% url 'administrator_list' company.slug %}">АДМИНИСТРАТОРЫ</a>
                </li>
            </ul>
            <div class="workers">
                <div>
                    <div class="w-institutions">
                        <h4>{{ company }}</h4>
                    </div>
                    <a href="#" class="button">Добавить специалиста
                        &nbsp+</a>
                </div>
                <ul class="list-workers">
                    <li>
                        <span>E-mail Специалиста</span>
                        <span>Дата добавления</span>
                        <span>Действия</span>
                    </li>
                    {% for employ in employees_specialist_list %}
                        <li>
                            <span>{{ employ.full_name }}, {{ employ.user.email }}</span>
                            <span>{{ employ.created_at }}</span>
                            <span>
                            <form action="{% url 'specialist_delete' company.slug %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" value="{{ employ.id }}" name="employe_id">
						        <button class="lay-off" name="action_remove">Уволить</button>
                            </form>
					</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script>
        (function () {
            var message = "Вы действительно хотите уволить специалиста ?";
            var actions = document.getElementsByName('action_remove');
            if (actions.length) {
                actions[0].addEventListener("click", function (e) {
                    if (!confirm(message)) {
                        e.preventDefault();
                    }
                });
            }
        })();
    </script>
{% endblock %}