{% extends 'base.html' %}
{% load staticfiles thumbnail %}
{% block content %}
    <main class="personal-management">
        {% include 'messages.html' %}
        <div class="grid">
            <ul class="tabs_nav">
                <li><a href="{% url 'employees_specialist_list' company.slug %}" class="tab-active">СПЕЦИАЛИСТЫ</a></li>
                <li><a href="{% url 'administrator_list' company.slug %}">АДМИНИСТРАТОРЫ</a>
                </li>
            </ul>
            <div class="workers">
                <div>
                    <div class="w-institutions">
                        <h4>{{ company }}</h4>
                    </div>
                    <a href="{% url 'user_search' company.slug %}" class="button">Пригласить специалиста</a>
                    <a href="{% url 'add_master_company' company.slug %}" class="button">Добавить специалиста
                        &nbsp+</a>
                </div>
                <ul class="list-workers">
                    <li>
                        <span>E-mail Специалиста</span>
                        <span>Дата добавления</span>
                        <span>Действия</span>
                    </li>
                    {% for employ in employees_specialist_list %}
                        <li>
                            <span>{{ employ.full_name }}, {{ employ.user.email }}</span>
                            <span>{{ employ.created_at }}</span>
                            <span class="specialist-actions">
                                <a class="specialist-edit" href="{% url 'master_edit_company' employ.slug %}">Редактировать</a>
                            <form action="{% url 'specialist_delete' company.slug %}" method="post">
						        <button class="lay-off" onclick="processDelete(event, {{ employ.id }})"
                                        data-toggle="modal" data-target="#make-modal">Уволить</button>
                            </form>
					</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
    <div class="modal fade" tabindex="-1" role="dialog" id="make-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4>Подтвердите действие</h4>
                </div>
                <div class="modal-body">
                    <p>Вы действительно хотите уволить мастера?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="removeAdmin()">Да
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
{% block js %}
    <script>
        var adminId = null;
        function processDelete(event, id) {
            event.preventDefault();
            adminId = id;
        }
        function removeAdmin() {
            $.post({
                url: '/companies/{{company.slug}}/specialist/delete',
                headers: {
                    'X-CSRFToken': '{{csrf_token}}'
                },
                data: {
                    'employe_id': adminId
                },
                success: function (response) {
                    window.location.reload();
                }
            })
        }
    </script>
{% endblock %}