{% extends 'base.html' %}
{% load staticfiles extra_tags widget_tweaks %}
{% block head %}
    <link href="{% static 'redactor/redactor.css' %}" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <main class="become_specilalist become_company">
        <div class="grid">
            {% include 'messages.html' %}
            <form action="" method="post" class="form_inf" enctype="multipart/form-data" onsubmit="onSubmitForm()">
                {% csrf_token %}

                <div class="control-group file-upload" id="file-upload">
                    <p class="text-danger">{{ form.logo.errors|striptags }}</p>
{#                    <div class="image-box text-center">#}
{#                        <p>Логотип</p>#}
{#                        <img src="" alt="">#}
{#                    </div>#}
{#                    <div class="controls">{{ form.logo }}</div>#}
                    <div class="wrap-custom-file">
{#                        <input type="file" name="image1" class="image_preview" id="image1" accept=".gif, .jpg, .png"/>#}
                        {{ form.logo|add_class:"image_preview" }}
                        <label for="id_logo">
                            <span>Логотип</span>
                        </label>
                    </div>
                </div>

                <div class="general_information">
                    <p>Информация об учреждении</p>
                    <div class="first_block">
                        <div class="add_block">
                            <p class="text-danger">{{ form.name.errors|striptags }}</p>
                            {{ form.name }}
                            <p class="text-danger">{{ form.email.errors|striptags }}</p>
                            {{ form.email }}
                            <p class="text-danger">{{ form.website.errors|striptags }}</p>
                            {{ form.website }}
                            <p class="text-danger">{{ form.slug.errors|striptags }}</p>
                            <label>
                                <span>Ваш аддрес в {{ request.META.HTTP_HOST }}/</span>
                                <span>{{ request.META.HTTP_HOST }}/</span>
                                {{ form.slug }}
                            </label>
                            <div>
                                <!-- <label> -->
                                <p class="text-danger">{{ form.phone.errors|striptags }}</p>
                                {{ form.phone|add_class:"mask" }}
                                <p class="text-danger">{{ form.short_phone.errors|striptags }}</p>
                                {{ form.short_phone }}
                                <!-- </label> -->
                            </div>
                        </div>
                        <div>
                            <p class="text-danger">{{ form.street_address.errors|striptags }}</p>
                            {{ form.street_address }}
                            <p class="text-danger">{{ form.short_info.errors|striptags }}</p>
                            {{ form.short_info }}
                        </div>
                    </div>
                    <p>Ваши услуги</p>
                    <div class="second_block">
                        <select multiple class="categories-select " id="id_categories" name="categories" required
                                placeholder="Сфера деятельности" style="width: 50%;">
                        </select>

                        {{ form.company_tags }}
                        <p class="text-danger">{{ form.company_tags.errors|striptags }}</p>
                    </div>
                    <p>Юридистические данные</p>
                    <p class="text-danger">{{ form.legal_data.errors|striptags }}</p>
                    {{ form.legal_data }}

                    <p>Подробная информация</p>
                    <p class="text-danger">{{ form.info.errors|striptags }}</p>
                    {{ form.info }}
                    <p>Ваше расположение</p>

                    {#                    <div id="mapholder-0" style="height: 250px; margin-bottom: 20px"></div>#}
                    {#                    <button type="button" name="get-location-0" class="get_location"#}
                    {#                            data-action="get-location">#}
                    {#                        Определить местоположение#}
                    {#                    </button>#}
                    <div id="map" style="width:100%; height:300px; margin-bottom: 10px;"></div>
                    <button id="find-location">Определить местоположение</button>
                    <span id="notification-0" class="uk-text-danger"></span>
                    {{ form.latitude|add_class:"hidden" }} {{ form.longitude|add_class:"hidden" }}


                    <p>Добавление сертификата</p>
                    <div class="add_certificates">


                        <div class="cert-formset">
                            {% for form in formset %}

                                <label class="filupp">
                                    {{ form.certificate|add_class:"add_file" }}
                                    <span class="filupp-file-name js-value">Добавить сертификат</span>
                                </label>

                            {% endfor %}
                        </div>
                        {{ formset.management_form }}
                    </div>
                    <button type="submit" class="button">Создать</button>

                </div>
            </form>
        </div>
    </main>
    <div class="form-sending-container">
        <img src="{% static 'img/loader.gif' %}" alt="">    
    </div>
{% endblock %}
{% block js %}
    {#    {% load_google_map_js %}#}
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
    <script src="{% static 'redactor/redactor.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script>
        function onSubmitForm() {
            document.querySelector(".form-sending-container").style.display = 'flex';
        }
        $(document).ready(
            function () {
                $('#id_info').redactor({
                    changeCallback(html) {
                        $("#id_info").trigger('change');
                    }
                });
            }
        );

        var latitude = $('#id_latitude');
        var longitude = $('#id_longitude');
        var findLocation = $('#find-location');

        DG.then(function () {
            var map,
                marker;

            map = DG.map('map', {
                center: [42.8735868, 74.5768934],
                zoom: 10
            });

            marker = DG.marker([42.8735868, 74.5768934], {
                draggable: true
            }).addTo(map).bindLabel('Перетащите маркер!');

            latitude.val(42.8735868);
            longitude.val(74.5768934);

            marker.on('drag', function (e) {
                var lat = e.target._latlng.lat.toFixed(3),
                    lng = e.target._latlng.lng.toFixed(3);


                latitude.val(lat);
                longitude.val(lng);
            });

            findLocation.on('click', function (e) {
                map.locate({setView: true})
                    .on('locationfound', function (e) {

                        marker.setLatLng([e.latitude, e.longitude]);

                        latitude.val(e.latitude);
                        longitude.val(e.longitude);
                    })
                    .on('locationerror', function (e) {
                        DG.popup()
                            .setLatLng(map.getCenter())
                            .setContent('Доступ к определению местоположения отключён')
                            .openOn(map);
                    });

                e.preventDefault();
            });

        });
        {#        $(document).ready(function () {#}
        {#            GoogleMap.mapHolder = $('#mapholder-0');#}
        {#            GoogleMap.latitudeInput = $('input[name="latitude"]');#}
        {#            GoogleMap.longitudeInput = $('input[name="longitude"]');#}
        {#            GoogleMap.notificationLabel = $('#notification-0');#}
        {#            GoogleMap.getLocationButton = $('button[data-action="get-location"]');#}
        {#            GoogleMap.initialize(true);#}
        {#        });#}

        $('.cert-formset').formset({
            prefix: 'certifications',
            addText: 'Добавить сертификат',
            deleteText: ''
        });

        var categories = [
            {% for category in categories %}
                {
                    "text": "{{ category.name }}",
                    "children": [
                        {% for child in category.get_children %}
                            {
                                "id": "{{ child.pk }}",
                                "text": "{{ child.name }}",
                                "element": HTMLOptionElement
                            },
                        {% endfor %}
                    ],
                    "element": HTMLOptGroupElement
                },
            {% endfor %}
        ];
        (function () {
            var html = '';
            for (var i = 0; i < categories.length; i++) {
                html += "<optgroup label=" + categories[i].text + ">";
                for (var j = 0; j < categories[i].children.length; j++) {
                    html += "<option value='" + categories[i].children[j].id + "'>" + categories[i].children[j].text + "</option>"
                }
                html += "</optgroup>";
            }
            $(".categories-select").html(html);
        })();

    </script>
{% endblock %}