{% extends 'base.html' %}
{% load staticfiles extra_tags %}
{% block head %}
    <link href="{% static 'redactor/redactor.css' %}" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <main class="become_specilalist become_company">
        <div class="grid">
            {% include 'messages.html' %}
            <form action="" method="post" class="form_inf" enctype="multipart/form-data">
                {% csrf_token %}
                <p class="text-danger">{{ form.logo.errors|striptags }}</p>
                <div class="control-group file-upload" id="file-upload">
                    <div class="image-box text-center">
                        <p>Логотип</p>
                        <img src="" alt="">
                    </div>
                    <div class="controls">{{ form.logo }}</div>
                </div>

                <div class="general_information">
                    <p>Информация об учреждении</p>
                    <div class="first_block">
                        <div class="add_block">
                            <p class="text-danger">{{ form.name.errors|striptags }}</p>
                            {{ form.name }}
                            <p class="text-danger">{{ form.email.errors|striptags }}</p>
                            {{ form.email }}
                            <p class="text-danger">{{ form.website.errors|striptags }}</p>
                            {{ form.website }}
                            <p class="text-danger">{{ form.slug.errors|striptags }}</p>
                            <label>
                                <span>Ваш аддрес в {{ request.META.HTTP_HOST }}/</span>
                                <span>{{ request.META.HTTP_HOST }}/</span>
                                {{ form.slug }}
                            </label>
                            <div>
                                <!-- <label> -->
                                <p class="text-danger">{{ form.phone.errors|striptags }}</p>
                                {{ form.phone }}
                                <!-- </label> -->
                            </div>
                        </div>
                        <div>
                            <p class="text-danger">{{ form.street_address.errors|striptags }}</p>
                            {{ form.street_address }}
                            <p class="text-danger">{{ form.short_info.errors|striptags }}</p>
                            {{ form.short_info }}
                        </div>
                    </div>
                    <p>Ваши услуги</p>
                    <div class="second_block">
                        <select multiple class="categories-select" id="id_categories" name="categories" required
                                placeholder="Сфера деятельности">

                        </select>
                        <p class="text-danger">{{ form.company_tags.errors|striptags }}</p>
                        {{ form.company_tags }}
                    </div>
                    <p>Юридистические данные</p>
                    <p class="text-danger">{{ form.legal_data.errors|striptags }}</p>
                    {{ form.legal_data }}

                    <p>Подробная информация</p>
                    <p class="text-danger">{{ form.info.errors|striptags }}</p>
                    {{ form.info }}
                    <p>Ваше расположение</p>

                    <div id="mapholder-0" style="height: 250px; margin-bottom: 20px"></div>
                    <p>
                        <button type="button" name="get-location-0" class="uk-button uk-button-success"
                                data-action="get-location">
                            Get location
                        </button>
                        <span id="notification-0" class="uk-text-danger"></span>
                    </p>
                    {{ form.latitude }} {{ form.longitude }}

                    <div class="cert-formset">
                        {% for form in formset %}
                            {{ form.certificate }}
                        {% endfor %}
                    </div>
                    {{ formset.management_form }}
                    <button type="submit" class="button">Сохранить</button>

                </div>
            </form>
        </div>
    </main>
{% endblock %}
{% block js %}
    {% load_google_map_js %}
    <script src="{% static 'redactor/redactor.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script>
        $(document).ready(
            function () {
                $('#id_info').redactor({});
            }
        );
        $(document).ready(function () {
            GoogleMap.mapHolder = $('#mapholder-0');
            GoogleMap.latitudeInput = $('input[name="latitude"]');
            GoogleMap.longitudeInput = $('input[name="longitude"]');
            GoogleMap.notificationLabel = $('#notification-0');
            GoogleMap.getLocationButton = $('button[data-action="get-location"]');
            GoogleMap.initialize(true);
        });

        $('.cert-formset').formset({
            prefix: 'certifications',
            addText: 'Добавить сертификат',
            deleteText: 'Удалить'
        });

        var categories = [
            {% for category in categories %}
                {
                    "text": "{{ category.name }}",
                    "children": [
                        {% for child in category.get_children %}
                            {
                                "id": "{{ child.pk }}",
                                "text": "{{ child.name }}",
                                "element": HTMLOptionElement
                            },
                        {% endfor %}
                    ],
                    "element": HTMLOptGroupElement
                },
            {% endfor %}
        ];
        (function () {
            var html = '';
            for (var i = 0; i < categories.length; i++) {
                html += "<optgroup label=" + categories[i].text + ">";
                for (var j = 0; j < categories[i].children.length; j++) {
                    html += "<option value='" + categories[i].children[j].id + "'>" + categories[i].children[j].text + "</option>"
                }
                html += "</optgroup>";
            }
            $(".categories-select").html(html);
        })();
    </script>
{% endblock %}