{% load staticfiles widget_tweaks thumbnail %}
<div class="review_modal">
    <div class="review_form">
        {% if user.is_authenticated %}
            {% if company.rating_company.all|length >= 1 and user.rating_set.all|length %}
                <p>Вы уже добавляли отзыв</p>
            {% else %}
                <form action="{% url 'create_review_company' company.slug %}" method="post" id="review_form">
                    {% csrf_token %}
                    <p>НАПИСАТЬ ОТЗЫВ</p>
                    <span></span>

                    <div class="evaluation">
					<span class="star-cb-group">
                        {{ form.count|add_class:"star_rating" }}
    				</span>
                    </div>

                    {{ form.comment }}

                    <button type="submit" class="button">Оставить отзыв</button>
                </form>
            {% endif %}

        {% else %}
            <p>Авторизуйтесь чтобы оставить отзыв</p>
        {% endif %}


    </div>
</div>