{% load extra_tags %}
<div class="reviews">
    {% for review in company.rating_company.all|slice:":3" %}
        <div class="review">
            <p>{{ review.user }}, <span>{{ review.created_at }}</span></p>
            <div class="rating">
                <div>
                    <span class="star-off">

                        <span class="star-on" style="width: {% multiply review.count %}%"></span>
                    </span>
                </div>
            </div>
            <p>{{ review.comment }}</p>
        </div>
    {% endfor %}
    {% if company.rating_company.all %}
        <a href="{% url 'company_reviews' company.slug %}" class="total_review">Все отзывы
            (<span>{{ company.rating_company.count }}</span>)</a>
    {% endif %}
</div>