{% load thumbnail staticfiles %}

{% if company.company_specialists.all %}

    <div class="employees">
        <h4>Наши специалисты</h4>
        <div>
            {% for master in company.company_specialists.all %}
                <div class="master">
                    <a href="{{ master.get_absolute_url }}" class="master_img">
                        <span>
                            {% if master.photo %}
                                {% thumbnail master.photo "154x154" as im %}
                                    <img src="{{ im.url }}" alt="{{ master.full_name }}">
                                {% endthumbnail %}
                            {% else %}
                                <img src="{% static 'img/no_photo.png' %}" alt="no image">
                            {% endif %}
                        </span>
                    </a>
                    <div class="master_desc">
                        <h4>{{ master.full_name }}</h4>
                        <span>
                            {% for tag in master.tags.all %}
                                {{ tag.name }},
                            {% endfor %}
                        </span>
                        <span></span>
                        <p>{{ master.short_info }}</p>
                        <ul>
                            <li>
                               <i class="fa fa-map-marker" aria-hidden="true"></i> {{ master.street_address }}
                            </li>
                            <li>
                                {% for number in master.specialist_contacts.all %}
                                    <a href="tel:  +996700139680">
                                        <i class="fa fa-phone" aria-hidden="true"></i> {{ number.phone }}
                                    </a>
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                    <a href="{{ master.get_absolute_url }}">ПОСМОТРЕТЬ</a>
                </div>
            {% endfor %}

        </div>

        {#                        <div class="preloader" id="loading">#}
        {#                            <div class="circ1"></div>#}
        {#                            <div class="circ2"></div>#}
        {#                            <div class="circ3"></div>#}
        {#                            <div class="circ4"></div>#}
        {#                        </div>#}

        {#        <a href="#">БОЛЬШЕ СПЕЦИАЛИСТОВ</a>#}

    </div>
{% endif %}