{% extends 'base.html' %}
{% load i18n widget_tweaks %}
{% block content %}
    <main class="search_user_page">
        <div class="grid">
            {% include 'messages.html' %}
            <form class="search_user" method="post" name="search_user">
                {% for error in form.non_field_errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
                {% csrf_token %}
                <div class="search_master">

                    <h4>Найти специалиста</h4>
                    <p class="text-danger">{{ form.email.errors|striptags }}</p>
                    <div>
                        {{ form.email }}
                        <button type="submit"></button>
                    </div>

                </div>

                {% if invite_form %}
                    {% for error in invite_form.non_field_errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    <ul>
                        <li class="list_bold">Имя</li>
                        <li class="list_bold">Фамилия</li>

                        <li class="list_bold">Email</li>
                        <li class="list_bold">Логин</li>
                        {% for user in users %}
                            <li>{{ user.first_name }}</li>
                            <li>{{ user.last_name }}</li>
                            <li>{{ user.email }}</li>
                            <li>{{ user.username }}</li>
                        {% endfor %}
                        <li>
                            <button class="button" type="submit" name="invite_user">
                                Пригласить
                            </button>
                            {% for user in users %}
                                {% for l in user.user_specialists.all %}
                                    <a href="{% url 'master_detail' l.slug %}"
                                       class="watch_profile" data-toggle="tooltip" data-placement="top"
                                       title="Просмотреть профиль" target="_blank"></a>
                                {% endfor %}
                            {% endfor %}
                        </li>
                    </ul>
                    <p class="text-danger">{{ invite_form.user.errors|striptags }}</p>
                    {{ invite_form.user|add_class:"hidden" }}

                    </form>
                {% endif %}
        </div>
    </main>
{% endblock %}