{% extends 'base.html' %}
{% load staticfiles thumbnail %}
{% block content %}
    <section class="search_block">

        <div class="grid">

            <div class="search_container">
                <form action="#" method="post" class="filter_form">
                    <label>
                        <input type="text" placeholder="Найти специалиста, учреждение или услугу...">
                    </label>
                    <button type="submit"></button>
                </form>

                <div class="result_block">
                    <div>
                        <span>Специалисты</span>
                        <ul>
                            <li><a href="#">Психиатр</a></li>
                            <li><a href="#">Психолог</a></li>
                            <li><a href="#">Психотерапевт</a></li>
                        </ul>
                    </div>

                    <div>
                        <span>Учреждения</span>
                        <ul>
                            <li><a href="#">Психотерапевтический центр Радуга</a></li>
                            <li><a href="#">Центр психологической помощи</a></li>
                        </ul>
                    </div>

                    <div>
                        <span>Услуги</span>
                        <ul>
                            <li><a href="#">Психотерапия</a></li>
                            <li><a href="#">Психологическое тестирование</a></li>
                            <li><a href="#">Психологические приемы </a></li>
                            <li><a href="#">Психологические приемы </a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <section class="category_block">
        <div class="grid">
            <ul class="category">

                {% for category in categories %}
                    <li>
                        <a href="{{ category.slug }}">
                            {% if category.image %}
                                {% thumbnail category.image "55x26" as im %}
                                    <span class="img_container"><img src="{{ im.url }}" alt={{ category.name }}></span>
                                {% endthumbnail %}
                            {% endif %}
                            <span>{{ category.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}