{% extends 'base.html' %}
{% load staticfiles thumbnail %}
{% block content %}
    <section class="search_block">
        <div class="grid">
            <form action="#" method="post" class="filter_form">
                <select class="select" name="service">
                    <option selected disabled>Найти сферу, специалиста, учреждение...</option>
                    <option>Бишкек</option>
                    <option>Каракол</option>
                </select>
                <div class="filter"></div>
                <button type="submit"></button>
                <div class="filters">
                    <!-- <span class="triangle"></span> -->
                    <ul class="tabs-nav">
                        <li>
                            <a href="#tab-1">Сфера</a>
                        </li>
                        <li>
                            <a href="#tab-2">Специализация</a>
                        </li>
                        <li>
                            <a href="#tab-3">Учреждение</a>
                        </li>
                        <li>
                            <a href="#tab-4">Услуги</a>
                        </li>
                    </ul>

                    <div class="tabs-stage">
                        <div id="tab-1">
                            <div class="control-group">
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                            </div>
                        </div>
                        <div id="tab-2">
                            <div class="control-group">
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                            </div>
                        </div>
                        <div id="tab-3">
                            <div class="control-group">
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>

                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>

                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>

                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>

                            </div>
                        </div>
                        <div id="tab-4">
                            <div class="control-group">
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--checkbox">Образование
                                    <input type="checkbox">
                                    <div class="control__indicator"></div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section class="category_block">
        <div class="grid">
            <ul class="category">

                {% for category in categories %}
                    <li>
                        <a href="{{ category.slug }}">
                            {% if category.image %}
                                {% thumbnail category.image "55x26" as im %}
                                <img src="{{ im.url }}" alt={{ category.name }}>
                                {% endthumbnail %}
                            {% endif %}
                            <span>{{ category.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}