{% extends 'base.html' %}

{% load staticfiles thumbnail extra_tags %}

{% block content %}
    <main class="specialist list_review">
        <div class="grid">
            <div class="personal_block">
                <div class="master">
                    <a class="master_img">
					<span>
                        {% if master.photo %}
                            {% thumbnail master.photo "154x154" as im %}
                                <img id="img" src="{{ im.url }}" alt={{ master.full_name }}>
                            {% endthumbnail %}
                        {% endif %}
					</span>
                    </a>

                    <div class="master_desc">
                        <h4>{{ master.full_name }}</h4>
                        <span>
                                {{ master.get_categories }}
                            </span>
                        <span></span>
                        <p>{{ master.short_info }}</p>
                        <ul>
                            <li>
                                <i class="fa fa-map-marker" aria-hidden="true"></i> {{ master.street_address }}
                            </li>
                            <li>
                                {% for contact in master.specialist_contacts.all %}
                                    <a href="tel: {{ contact.phone }}">
                                        <i class="fa fa-phone" aria-hidden="true"></i> {{ contact.phone }}
                                    </a>
                                {% endfor %}
                            </li>
                            <li>
                                <i class="fa fa-envelope" aria-hidden="true"></i> {{ master.user.email }}
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="hidden">РЕДАКТИРОВАТЬ</a>
                </div>
            </div>

            <div class="shedule_block">
                <h4>Отзывы</h4>
                <div class="all_reviews">
                    {% if rating_list %}
                        {% for rating in rating_list %}
                            <div class="single_review">
                                <p>{{ rating.user }}, <span>{{ rating.created_at }}</span></p>
                                <div class="rating">
                                    <div>
                                        <span class="star-off">
                                            <span class="star-on" style="width: {% multiply rating.count %}%"></span>
                                        </span>
                                    </div>
                                </div>
                                <p>{{ rating.comment }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}