{% extends 'base.html' %}
{% load staticfiles widget_tweaks thumbnail %}
{% block head %}
    <link href="{% static 'redactor/redactor.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'bower_components/cropper/dist/cropper.min.css' %}">
{% endblock %}
{% block content %}
    <main class="specialist_author edit_specialist">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="image-crop-data" id="image-crop-data">
            <div class="grid">
                <div class="personal_block">
                    <div class="master">
                        <a class="master_img">
                        <span class="img-preview-cropper">
                            {% if object.photo %}
                                {% thumbnail object.photo "154x154" as im %}
                                    <img id="img" src="{{ im.url }}" alt={{ object.full_name }}>
                                {% endthumbnail %}
                            {% endif %}
                        </span>
                            <label for="upload">
                                <input type='file' id="upload" name="photo">
                            </label>   
                        </a>

                        <div class="master_desc">
                            <h4>{{ object.full_name }}</h4>
                            <span>
                                {{ object.get_categories }}
                            </span>
                            <span></span>
                            <p>{{ object.short_info }}</p>
                            <ul>
                                <li>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> {{ object.street_address }}
                                </li>
                                <li>
                                    {% for contact in object.specialist_contacts.all %}
                                        <a href="tel:  +996709988484">
                                            <i class="fa fa-phone" aria-hidden="true"></i> {{ contact.phone }}
                                        </a>
                                    {% endfor %}
                                </li>
                                <li>
                                    <i class="fa fa-envelope" aria-hidden="true"></i> {{ object.user.email }}
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="hidden">РЕДАКТИРОВАТЬ</a>
                    </div>
                </div>
                <div class="shedule_block">
                    {% include 'messages.html' %}
                    <div class="edit_block">
                        <div class="general_information">
                            <p>Персональная информация</p>
                            <div class="first_block">
                                <div class="add_block">
                                    <p class="text-danger">{{ form.full_name.errors|striptags }}</p>
                                    {{ form.full_name }}

                                    <p class="text-danger">{{ form.sex.errors|striptags }}</p>
                                    {{ form.sex|add_class:"s_sex" }}

                                    <div class="edit_phone_number">
                                        <table id="id_formset" border="0" cellpadding="0" cellspacing="25">



                                            {% for form in formset %}
                                                <tr id="{{ form.prefix }}-row">
                                                    <td>
                                                        {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                                                        {{ form.phone|add_class:"mask" }}
                                                    </td>
                                                    <td class="del_number">
                                                        {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            {#                                            </tbody>#}
                                        </table>
                                        {{ formset.management_form }}
                                    </div>
                                </div>
                                <div>
                                    <p class="text-danger">{{ form.street_address.errors|striptags }}</p>
                                    {{ form.street_address }}
                                    <p class="text-danger">{{ form.short_info.errors|striptags }}</p>
                                    {{ form.short_info }}

                                </div>
                            </div>
                            <p class="text-danger">{{ form.categories.errors|striptags }}</p>
                            <p>Ваши услуги</p>
                            <div class="second_block">
                                <select multiple class="categories-select" id="id_categories" name="categories" required
                                        placeholder="Сфера деятельности" style="width: 50%;">
                                    <option value="7" selected="selected"></option>
                                </select>

                                {{ form.tags }}
                                <p class="text-danger">{{ form.tags.errors|striptags }}</p>
                            </div>
                            <p>Подробная информация</p>
                            {{ form.info }}
                            <p class="text-danger">{{ form.tags.errors|striptags }}</p>

                            <p>Добавление сертификата</p>
                        <table id="id_certificates" class="edit_company_certificates" cellspacing="0">

                            <tbody>
                            {% for form in certificates %}
                                <tr id="{{ form.prefix }}-row">
                                    <td class="chosen_certificate">
                                        {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                                        {{ form.certificate }}
                                    </td>
                                    <td class="del_certificate">
                                        {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                        <img src="{% static 'img/x.png' %}" alt="">
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {{ certificates.management_form }}

                            <button type="submit" class="button">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>

<!--avatar crop modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Измените изображение</h4>
            </div>
            <div class="modal-body">
                <div class="img-wrapper">
                    <img src="" alt="" class="imagePreview" style="max-width: 100%">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Применить</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
    <script src="{% static 'redactor/redactor.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'bower_components/cropper/dist/cropper.min.js' %}"></script>
    <script>
        // bug fix for bootstrap backdrop
        document.querySelector(".modal.fade").onclick = function (e) {
            e.preventDefault(); e.stopPropagation(); return false;
        };
        $('tbody .chosen_certificate').each(function (i, obj) {
            if ($(obj).children('a').length == true) {
                $(obj).prepend('<img src="" alt="">');
                var img_link = $(obj).children('a').attr('href');
                $(obj).children('img').attr('src', img_link);
            }
        });
        $(document).ready(
            function () {
                $('#id_info').redactor({
                    changeCallback(html) {
                        $("#id_info").trigger('change');
                    }
                });
            }
        );

        $('#id_formset tbody tr').formset({
            prefix: 'specialist_contacts',
            addText: 'Добавить контакт',
            deleteText: ''
        });

        $('#id_certificates tbody tr').formset({
            prefix: 'specialist_certifications',
            addText: 'Добавить сертификат',
            deleteText: ''
        });

        var categories = [
            {% for category in all_categories %}
                {% if category.is_child_node and category.get_children %}
                    {
                        "text": "{{ category.name }}",
                        "children": [
                            {% for child in category.get_children %}
                                {
                                    "id": "{{ child.pk }}",
                                    "text": "{{ child.name }}",
                                    "element": HTMLOptionElement
                                },
                            {% endfor %}
                        ],
                        "element": HTMLOptGroupElement
                    },
                {% endif %}
            {% endfor %}
        ];
        (function () {
            var html = '';
            var selectedCategories = [];
            {% for cat in object.categories.all %}
                selectedCategories.push({{cat.id}});
            {% endfor %}
            for (var i = 0; i < categories.length; i++) {
                html += "<optgroup label=" + categories[i].text + ">";
                for (var j = 0; j < categories[i].children.length; j++) {
                    var state = false;
                    for (var k=0; k<selectedCategories.length; k++) {
                        if (selectedCategories[k] == categories[i].children[j].id) {
                            state = true;
                            break;
                        }
                    }
                    if (state) {
                        html += "<option selected='selected' value='" + categories[i].children[j].id + "'>" + categories[i].children[j].text + "</option>"
                    } else {
                        html += "<option value='" + categories[i].children[j].id + "'>" + categories[i].children[j].text + "</option>"
                    }
                }
                html += "</optgroup>";
            }
            $(".categories-select").html(html);
        })();
    </script>
    <script>
        // cropper for image uploading
        $("#upload").change(function () {
            var myModal$ = $("#myModal");
            var cropData = $("#image-crop-data");
            var reader = new FileReader();
            // show modal onload + add image + init cropper
            reader.onload = function (event) {
                $(".imagePreview").prop("src", event.target.result);
                myModal$.on('shown.bs.modal', function () {
                    initCropper(cropData);
                });
                myModal$.on('hidden.bs.modal', function () {
                    $(".imagePreview").cropper('destroy');
                });
                myModal$.modal();
            };
            // read file value
            reader.readAsDataURL($(this).prop('files')[0]);

        });
        function initCropper(cropData) {
            var $preview = $(".img-preview-cropper");
            $(".imagePreview").cropper({
                viewMode: 3,
                dragMode: "move",
                aspectRatio: 1,
                ready: function (e) {
                    $("#img").css({
                        display: 'block',
                        width: '100%',
                        minWidth: 0,
                        minHeight: 0,
                        maxWidth: 'none',
                        maxHeight: 'none'
                    });
                    $preview.css({
                        width: '55%',
                        overflow: 'hidden'
                    });
                },
                crop: function (e) {
                    cropData.val(JSON.stringify({
                        x: Math.round(e.x),
                        width: Math.round(e.width),
                        y: Math.round(e.y),
                        height: Math.round(e.height)
                    }));
                    var imageData = $(this).cropper('getImageData');
                    var previewWidth = $preview.width();
                    var previewHeight = 134;
                    var imageScaledRatio = e.width / previewWidth;

                    $preview.height(previewHeight).find('img').css({
                        width: imageData.naturalWidth / imageScaledRatio,
                        height: imageData.naturalHeight / imageScaledRatio,
                        marginLeft: -e.x / imageScaledRatio,
                        marginTop: -e.y / imageScaledRatio
                    });
                }
            });
        }
    </script>
    <style>
        .btn {
            background-color: initial;
            width: auto;
            padding: auto auto;
            z-index: auto;
            font-size: inherit;
            margin: auto;
            color: inherit;
        }
        .btn-success {
            border: 1px solid #1eebe6;
        }
        .btn-success:hover {
            background-color: #1eebe6;
            color: #fff;
            border-color: #1eebe6;
        }
    </style>
{% endblock %}