{% extends 'base.html' %}
{% load staticfiles thumbnail extra_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
{% endblock %}
{% block content %}
    <!-- VUE App -->
        {% include "specialist/partial/_master_detail_schedule.html" %}
    <!-- VUE App End -->
{% endblock %}
{% block js %}
    <script src="{% static 'js/vue.min.js' %}"></script>
    <script src="{% static 'js/vue-resource.min.js' %}"></script>
    <script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyDVN7Mto5wI6rLXRHN-AeK4Ic1FQFJmJPg",
            authDomain: "checkin-kg.firebaseapp.com",
            databaseURL: "https://checkin-kg.firebaseio.com",
            projectId: "checkin-kg",
            storageBucket: "checkin-kg.appspot.com",
            messagingSenderId: "24641190033"
        };
        firebase.initializeApp(config);
    </script>
    <script src="{% static 'js/calendar.js' %}"></script>
    <script src="{% static 'js/calendar-master.js' %}"></script>
    <script>
        let masterUser = false;
        let companies = [];
        {% if request.user == master.user or user.id in owners or user.id in administrator %}
            masterUser = true;
        {% endif %}
        {% for company in master.company.all %}
            companies.push({
                name: '{{ company.name }}',
                id: {{company.id}}
            })
        {% endfor %}
        app.getDataFromDjango(masterUser, '{{master.slug}}', '{{csrf_token}}', companies, '{{request.session.token_key}}');
    </script>
{% endblock %}

