{% extends 'base.html' %}
{% load staticfiles thumbnail %}
{% block content %}
    <main class="specialist">
        <div class="grid">
            <div class="personal_block">

                <div class="master">
                    <a class="master_img">
                        <span>
                            {% if master.photo %}
                                {% thumbnail master.photo "154x154" as im %}
                                    <img src="{{ im.url }}" alt={{ master.full_name }}>
                                {% endthumbnail %}
                            {% else %}
                                <img src="{% static 'img/no_photo.png' %}" alt='no image'>
                            {% endif %}
                        </span>
                    </a>
                    <div class="master_desc">
                        <h4>{{ master.full_name }}</h4>
                        <span>{{ master.get_categories }}</span>
                        <span></span>
                        <p>{{ master.short_info }}</p>
                        <ul>
                            <li>
                                {{ master.street_address }}
                            </li>
                            <li>
                                {% for contact in master.specialist_contacts.all %}
                                    {{ contact.phone }}
                                {% endfor %}
                            </li>
                            {% if master.sex %}
                                <li>
                                    {{ master.sex }}
                                </li>
                            {% endif %}
                            <li>
                                {{ master.user.email }}
                            </li>
                        </ul>
                    </div>
                    {% if request.user != master.user %}
                        <a href="#" id="leave_comment">ОСТАВИТЬ ОТЗЫВ</a>
                    {% endif %}
                    {% if request.user == master.user %}
                        <a href="{% url 'master_edit' master.slug %}">Редактировать</a>
                    {% endif %}
                </div>
            </div>
            <div class="shedule_block">
                {% include 'messages.html' %}
                <div class="p_description">
                    <div>
                        <h4>О специалисте</h4>
                        {{ master.info|safe }}
                    </div>
                    <div>
                        <h4>Услуги</h4>
                        {% for tag in master.tags.all %}
                            <span>{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>


        <div class="certificates">
				<div id="lightgallery" class="certificate_slider">
					<a href="{% static 'img/personal-img.png' %}">
						<img src="{% static 'img/personal-img.png' %}">
					</a>
					<a href="{% static 'img/personal-img.png' %}">
						<img src="{% static 'img/personal-img.png' %}">
					</a>

					<a href="{% static 'img/personal-img.png' %}">
						<img src="{% static 'img/personal-img.png' %}">
					</a>

					<a href="{% static 'img/personal-img.png' %}">
						<img src="{% static 'img/personal-img.png' %}">
					</a>

                    <a href="{% static 'img/personal-img.png' %}">
						<img src="{% static 'img/personal-img.png' %}">
					</a>

                    <a href="{% static 'img/personal-img.png' %}">
						<img src="{% static 'img/personal-img.png' %}">
					</a>

                    <a href="{% static 'img/personal-img.png' %}">
						<img src="{% static 'img/personal-img.png' %}">
					</a>

				</div>
			</div>

        </div>
    </main>
{% endblock %}