{% extends 'base.html' %}
{% load staticfiles thumbnail extra_tags %}
{% block content %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/calendar.css' %}" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
{% endblock %}
<main class="specialist" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="grid">
        <div class="personal_block">

            <div class="master">
                <a class="master_img">
                  <span>
                      {% if master.photo %}
                          {% thumbnail master.photo "154x154" as im %}
                              <img src="{{ im.url }}" alt={{ master.full_name }}>
                          {% endthumbnail %}
                      {% else %}
                          <img src="{% static 'img/no_photo.png' %}" alt='no image'>
                      {% endif %}
                  </span>
                </a>
                <div class="master_desc">
                    <h4>{{ master.full_name }}</h4>
                    <span>{{ master.get_categories }}</span>
                    <span></span>
                    <p>{{ master.short_info }}</p>
                    <ul>
                        <li>
                            <i class="fa fa-map-marker" aria-hidden="true"></i> {{ master.street_address }}
                        </li>
                        <li>
                            {% for contact in master.specialist_contacts.all %}
                            <i class="fa fa-phone" aria-hidden="true"></i> {{ contact.phone }}
                            {% endfor %}
                        </li>
                        {% if master.sex %}
                        <li>
                            <i class="fa fa-venus-mars" aria-hidden="true"></i> {{ master.sex }}
                        </li>
                        {% endif %}
                        <li>
                            <i class="fa fa-envelope" aria-hidden="true"></i> {{ master.user.email }}
                        </li>
                    </ul>
                </div>
                {% if master.rating %}
                <div class="rating">
                    <div>
                            <span class="star-off">
                                <span class="star-on" style="width: {% percent_converter master.rating %}%"></span>
                            </span>
                    </div>
                </div>
                {% endif %}
                {% if request.user != master.user %}
                <a href="#" id="leave_comment">ОСТАВИТЬ ОТЗЫВ</a>
                {% endif %}
                {% if request.user == master.user %}
                <a href="{% url 'master_edit' master.slug %}">Редактировать</a>
                {% endif %}
            </div>
            <div class="work_place">
                {% for company in master.company.all %}
                    <div class="place">
                        <a href="{{ company.get_absolute_url }}">
                            <span>{{ company }}</span>
                        </a>

                        <span><i class="fa fa-map-marker" aria-hidden="true"></i>{{ company.street_address }}</span>
                    </div>
                {% endfor %}
            </div>
            {% include 'specialist/reviews.html' %}
        </div>
        <div class="shedule_block">
            {% include 'messages.html' %}

            {% if master.schedule_setting_specialist.all %}
            <!-- <div class="main-wrap">
                <h4>Записаться к специалисту</h4>
                {% if request.user == master.user %}
                    <div class="edit_time">
                        <a href=""><i class="fa fa-pencil" aria-hidden="true"></i>Редактировать график работы</a>
                    </div>
                {% endif %}
                <a href="#" onclick="prevWeek()" id="prev-week"><i class="fa fa-angle-left fa-3x"
                                                                   aria-hidden="true"></i></a>
                <a href="#" onclick="nextWeek()" id="next-week"><i class="fa fa-angle-right fa-3x"
                                                                   aria-hidden="true"></i></a>


                <div class="main">
                    <div class='loader'>
                        <img src="{% static 'img/loader.gif' %}" alt="">
                    </div>
                </div>
            </div> -->
            {% else %}
{#            {% if request.user == master.user %}#}
{#            <div class="set_time">#}
{#                <a href="{% url " add_schedule_setting" master.slug %}">#}
{#                    <i class="fa fa-clock-o fa-2x"aria-hidden="true"></i>Указать время работы</a>#}
{#            </div>#}
{#            {% endif %}#}
            {% endif %}
            <!--VUE App-->
            {% verbatim %}
            <div class="main-wrap">
                <a class="main-wrap-arrows" style="display: none;" id="prev-week" onclick="app.moveToPreviousWeek()">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>
                <a class="main-wrap-arrows" style="display: none;" id="next-week" onclick="app.moveToNextWeek();">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
                <div id="app" class="main" v-bind:class="{'editor-main': editorState}">
                    <div class="loader" v-if="!scheduleState && !editorState">
                        {% endverbatim %}
                        <img src="{% static 'img/loader.gif' %}" alt="loader">
                        {% verbatim %}
                    </div>
                    <div class="weekdays-wrap" v-if="scheduleState">
                        <div class="edit-schedule-wrap">
                            {% endverbatim %}
                            {% if request.user == master.user %}
                            {% verbatim %}
                            <a v-on:click="toggleContent(false, true)" class="edit-schedule">
                                Редактировать график
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            {% endverbatim %}
                            {% endif %}
                            {% verbatim %}
                        </div>
                        <div class="weekdays weekdays-title">
                            <div v-for="weekDay of mainArray" class="weekday">
                                <span>{{localeDays[weekDay.date.getDay()]}}</span>
                                <span>{{prettyDate(weekDay.date, 'date')}}</span>
                            </div>
                        </div>
                        <div class="weekdays weekdays-scroll">
                            <div v-for="weekDay of mainArray" class="weekday"
                                 v-bind:class="{holiday: (weekDay.times.length < 3)}"
                                 style="width: 100%; text-align: center;">
                                <div v-for="(time, index) of weekDay.times" class="time"
                                     :class="[time.status, makeClassFromCompany(time)]"
                                     v-on:click="toggleOrderPopup(time)">
                                    <div v-if="time.status !== 'lunch' && time.status !== 'live'
                                            && time.status !== 'holiday' && time.status !== 'left'"
                                         {% endverbatim %}
                                         {% if request.user == master.user %}
                                         {% verbatim %}
                                         :title="time.name? time.name + ' : ' + time.phone : ''"
                                         {% endverbatim %}
                                         {% endif %}
                                         {%verbatim%}>
                                        {{prettyDate(time.time, 'time')}}
                                    </div>
                                    <div v-if="time.status == 'live'">
                                        {{prettyDateRange(time.time, 'time')}}
                                    </div>
                                    <div v-if="time.status == 'holiday'">
                                        Выходной
                                    </div>
                                    <div v-if="time.status == 'left'">
                                        ---
                                    </div>
                                    <div v-if="time.status == 'lunch'">Обед</div>
                                    <div v-if="time.status == 'live'">Очередь</div>
                                    {% endverbatim %}
                                    {% if request.user == master.user or user.id in owners or user.id in administrator %}
                                    {% verbatim %}
                                    <div v-if="time.status == 'armored'">
                                        <button class="order-action" v-on:click="setRecordStatus(time, 'confirmed')">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </button>
                                        <button class="order-action" v-on:click="setRecordStatus(time, 'refused')">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div v-if="time.status == 'confirmed'">
                                        <button class="order-action" v-on:click="setRecordStatus(time, 'refused')">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    {% endverbatim %}
                                    {% endif %}
                                    {% verbatim %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-editor" v-if="editorState">
                        <a v-on:click="toggleContent(true, false)" class="edit-schedule">
                            Вернуться к расписанию
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </a>
                        <div class="table_form">
                            <h4>Настройка времени</h4>
                            <form v-for="(schedule, index) of scheduleSettings">
                                <div id="true-inputs">
                                    <input type="hidden" class="true_input" id="id_day">
                                </div>
                                <div class="shedule_container">
                                    <span>{{schedule.companyName}}</span>
                                    <ul class="table_time">
                                        <li class="get_time" data-key="day" data-first v-for="(day, dayIndex) of days">
                                            <input
                                                    type="checkbox"
                                                    class="day"
                                                    :id="'day_'+day+index"
                                                    :checked="schedule[day].active"
                                                    v-on:change="schedule[day].active = $event.target.checked"
                                            >
                                            <label class="control control--checkbox" :for="'day_'+day+index">{{localeDays[dayIndex]}}
                                                <div class="control__indicator"></div>
                                            </label>
                                            <div class="time_limit">
                                                <div class="fieldset__wrapper">
                                                    <input v-on:change="updateScheduleSettingsTime(schedule[day], day, $event, index, true)"
                                                           type="text"
                                                           class="initial-timepicker timepicker timepicker from-time"
                                                           :readonly="!schedule[day].active"
                                                           :value="schedule[day].active ? schedule[day].time.start : ''">
                                                </div>
                                            </div>
                                            <div class="time_limit">
                                                <div class="fieldset__wrapper">
                                                    <input v-on:change="updateScheduleSettingsTime(schedule[day], day, $event, index, false)"
                                                           type="text"
                                                           class="next-timepicker timepicker to-time"
                                                           :readonly="!schedule[day].active"
                                                           :value="schedule[day].active ? schedule[day].time.end : ''">
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="interval_block">
                                    <span>Интервал приема:</span>
                                    <div class="interval">
                                        <label v-for="day of days">
                                            <select name="interval" v-on:change="schedule[day].interval = $event.target.value;">
                                                <option
                                                    v-for="interval of intervals"
                                                    :selected="schedule[day].interval == interval || interval == '30'"
                                                >{{interval}}</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="live_turn">
                                        <ul>
                                            <li v-for="day of days">
                                                <input type="checkbox" class="day" :id="'live_'+day+index"
                                                       :checked="schedule[day].active && schedule[day].liveState"
                                                       v-on:change="schedule[day].liveState = $event.target.checked"
                                                >
                                                <label class="control control--checkbox" :for="'live_'+day+index">Живая очередь
                                                    <div class="control__indicator"></div>
                                                </label>
                                                <div class="turn_interval">
                                                    <div class="fieldset__wrapper">
                                                        <input v-on:change="updateLiveQueue(schedule[day], $event, true)"
                                                               type="text"
                                                               class="timepicker live-timepicker-start"
                                                               :readonly="!schedule[day].active"
                                                               :value="(schedule[day].live_recording) ?
                                                               schedule[day].live_recording.start: 'c'">
                                                    </div>

                                                    <div class="fieldset__wrapper">
                                                        <input v-on:change="updateLiveQueue(schedule[day], $event, false)"
                                                               type="text"
                                                               class="timepicker live-timepicker-end"
                                                               :readonly="!schedule[day].active"
                                                               :value="(schedule[day] && schedule[day].live_recording) ?
                                                               schedule[day].live_recording.end: 'до'">
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="break">
                                    <div class="get_time" data-key="break">
                                        <span>Перерыв на обед:</span>
                                        <div class="time_limit">с
                                            <div class="fieldset__wrapper">
                                                <input
                                                        type="text"
                                                        class="timepicker from-time"
                                                        placeholder=""
                                                        v-bind:value="(schedule.lunch_settings && schedule.lunch_settings.start) ? schedule.lunch_settings.start : ''"
                                                        v-on:change="updateLunchTime(index, $event.target.value, true)">
                                            </div>
                                        </div>
                                        <div class="time_limit">до
                                            <div class="fieldset__wrapper">
                                                <input
                                                        type="text"
                                                        class="timepicker to-time"
                                                        placeholder=""
                                                        v-bind:value="(schedule.lunch_settings && schedule.lunch_settings.end) ? schedule.lunch_settings.end : ''"
                                                        v-on:change="updateLunchTime(index, $event.target.value, false)">
                                            </div>
                                        </div>
                                    </div>
                                    <button v-on:click="submitSchedule($event, index, schedule.active)" class="button">Отправить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endverbatim %}
            <!--VUE App End-->
            <div class="p_description">
                <div>
                    <h4>О специалисте</h4>
                    {{ master.info|safe }}
                </div>
                <div>
                    <h4>Услуги</h4>
                    {% for tag in master.tags.all %}
                    <span>{{ tag.name }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include 'specialist/certificate_of_specialist.html' %}
    </div>
</main>

{% include 'specialist/specialist_review_form.html' %}

<!-- popup for armored request -->
<div class="modal fade" tabindex="-1" role="dialog" id="armored-modal" style="z-index: 1050">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" style="text-align: center;">
                Запись на это время уже была оформлена до Вас, но еще не подтверждена специалистом, Вы можете подождать
                пока данное время освободится, либо выбрать другое.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<!-- popup for armored request -->
{% if request.user == master.user or user.id in owners or user.id in administrator %}
<!-- confirm request -->
<div class="modal fade" tabindex="-1" role="dialog" id="confirm-modal" style="z-index: 1050">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" style="text-align: center;">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<!-- confirm request end -->
{% endif %}

{% endblock %}
{% block js %}
<script src="{% static 'js/vue.min.js' %}"></script>
<script src="{% static 'js/vue-resource.min.js' %}"></script>
<script src="{% static 'js/calendar.js' %}"></script>
<script>
    let masterUser = false;
    let companies = [];
    {% if request.user == master.user or user.id in owners or user.id in administrator %}
        masterUser = true;
    {% endif %}
    {% for company in master.company.all %}
        companies.push({
          name: '{{ company.name }}',
          id: {{company.id}}
        })
    {% endfor %}
    app.getDataFromDjango(masterUser, '{{master.slug}}', '{{csrf_token}}', companies);
</script>
{% endblock %}
