{% extends 'base.html' %}
{% load staticfiles widget_tweaks %}
{% block head %}
    <link href="{% static 'redactor/redactor.css' %}" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <main class="become_specilalist">
        <div class="grid">
            <form action="" method="post" class="form_inf" enctype="multipart/form-data">
                {% csrf_token %}
                <p class="text-danger">{{ form.photo.errors|striptags }}</p>
                <div class="control-group file-upload" id="file-upload">
                    <div class="image-box text-center">
                        <p>Фото профиля</p>
                        <img src="" alt="">
                    </div>
                    <div class="controls">{{ form.photo }}</div>
                </div>
                <div class="general_information">
                    <p>Персональная информация</p>
                    <div class="first_block">
                        <div class="add_block">
                            <p class="text-danger">{{ form.full_name.errors|striptags }}</p>
                            {{ form.full_name }}
                            <div class="contact-formset">
                                {% for form in formset %}
                                    {{ form.phone|add_class:"mask" }}
                                {% endfor %}
                            </div>
                            {{ formset.management_form }}
                        </div>
                        <div>
                            <p class="text-danger">{{ form.street_address.errors|striptags }}</p>
                            {{ form.street_address }}
                            <p class="text-danger">{{ form.short_info.errors|striptags }}</p>
                            {{ form.short_info }}
                        </div>
                    </div>
                    <p class="text-danger">{{ form.categories.errors|striptags }}</p>
                    <p>Ваши услуги</p>
                    <div class="second_block">
                        <select multiple class="categories-select" id="id_categories" name="categories" required
                                placeholder="Сфера деятельности">

                        </select>
                        {{ form.tags }}
                        <p class="text-danger">{{ form.tags.errors|striptags }}</p>
                    </div>
                    <p>Подробная информация</p>
                    <p class="text-danger">{{ form.tags.errors|striptags }}</p>
                    {{ form.info }}
                    <button type="submit" class="button">Сохранить</button>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script src="{% static 'redactor/redactor.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script>
        $(document).ready(
            function () {
                $('#id_info').redactor({});
            }
        );

        $('.contact-formset').formset({
            prefix: 'specialist_contacts',
            addText: 'Добавить контакт',
            deleteText: ''
        });

        var categories = [
            {% for category in all_categories %}
                {% if category.is_child_node and category.get_children %}
                    {
                        "text": "{{ category.name }}",
                        "children": [
                            {% for child in category.get_children %}
                                {
                                    "id": "{{ child.pk }}",
                                    "text": "{{ child.name }}",
                                    "element": HTMLOptionElement
                                },
                            {% endfor %}
                        ],
                        "element": HTMLOptGroupElement
                    },
                {% endif %}
            {% endfor %}
        ];
        (function () {
            var html = '';
            for (var i = 0; i < categories.length; i++) {
                html += "<optgroup label=" + categories[i].text + ">";
                for (var j = 0; j < categories[i].children.length; j++) {
                    html += "<option value='" + categories[i].children[j].id + "'>" + categories[i].children[j].text + "</option>"
                }
                html += "</optgroup>";
            }
            $(".categories-select").html(html);
        })();
    </script>
{% endblock %}