{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <main class="order_page">
        <div class="grid">
            <form action="#" method="get" class="sort">
                <div class="sort_forms">

                    <span>Диапазон дат</span>
                    <div class="date_limit">
                        c
                        <div class="fieldset__wrapper">
                            <input type="text" name="date_input" class="datepicker" placeholder="Выберите дату">
                        </div>
                    </div>

                    <div class="date_limit">
                        до
                        <div class="fieldset__wrapper">
                            <input type="text" class="datepicker" placeholder="Выберите дату">
                        </div>
                    </div>

                    <label>Статус
                        <select name="status">
                            <option>Подвержденные</option>
                            <option>Не подвержденные</option>
                        </select>
                    </label>

                    <button type="submit" class="button">Применить фильтр</button>
                </div>

                <div class="sort_search">
                    <input type="search" placeholder="Найти...">
                </div>
            </form>

            <div class="list_application">
                <table style="width:100%">
                    <tr>
                        <th>Время заявки</th>
                        <th class="center">Имя</th>
                        <th class="center">Время запиcи</th>
                        <th class="center">Контакты</th>
                        <th class="center">Статус</th>
                    </tr>
                    {% if object_list %}
                        {% for obj in object_list %}
                            <tr>
                                <td>
                                    <span>{{ obj.created_at }}</span>
                                </td>
                                <td>{{ obj.full_name }}</td>
                                <td class="center">
                                    <span>{{ obj.date_time_reservation }}</span>
                                </td>
                                <td class="center">{{ obj.phone }}</td>
                                <td class="center">
                                    {% if obj.status == 'armored' %}
                                        <div class="form_td">
                                            <form action="#" method="post" id="{{ obj.id }}">
                                                <button type="submit" class="button agree">Подтвердить</button>
                                                <button type="submit" class="button disagree">Отказать</button>
                                            </form>
                                        </div>
                                    {% endif %}
                                    {% if obj.status == 'confirmed' %}
                                        <div class="confirmed">Подтвержден</div>
                                    {% endif %}
                                    {% if obj.status == 'refused' %}
                                        <div class="non_confirmed">Отказано</div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>
    </main>
{% endblock %}