{% load extra_tags %}

<div class="reviews">
    {% for review in master.rating_specialist.all|slice:":3" %}
        <div class="review">
            <p>{{ review.user }}, <span>{{ review.created_at }}</span></p>
            <div class="rating">
                <div>
                    <span class="star-off">

                        <span class="star-on" style="width: {% multiply review.count %}%"></span>
                    </span>
                </div>
            </div>
            <p>{{ review.comment }}</p>
        </div>
    {% endfor %}
    {% if master.rating_specialist.all %}
        <a href="{% url 'specialist_reviews' master.slug %}" class="total_review">Все отзывы
            (<span>{{ master.rating_specialist.count }}</span>)</a>
    {% endif %}
</div>

