{% extends 'base.html' %}
{% load staticfiles thumbnail %}
{% block content %}
    <main class="all_specialists">
        <div class="grid">
           {% include 'filters/base.html' %}
            <div class="masters">
                <form class="filter_form">
                    <label>
                        {{ filter.search }}
                    </label>
                    <button type="submit"></button>
                </form>
                <div id="pagediv-id">
                    {% include 'specialist/object.html' %}
                </div>
                <ul class="preloader" id="loading" style="display: none;">
                    <li class="circ1"></li>
                    <li class="circ2"></li>
                    <li class="circ3"></li>
                    <li class="circ4"></li>
                </ul>
                {% if is_paginated %}
                    <div><input type='hidden' id='pagination-id' value='{{ page_obj.next_page_number }}'></div>
                    <a id="load-id">Показать больше</a>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script src="{% static 'js/ajax-pagination.js' %}"></script>
    <script src="{% static 'js/get-params.js' %}"></script>
    <script src="{% static 'js/live-search.js' %}"></script>
    <script src="{% static 'js/suppliers-categories-filter.js' %}"></script>
    <script>
        var page_url = window.location.href;
        $("#load-id").click(function () {
            load_page(page_url, "#pagination-id", "#load-id", "#pagediv-id", function (callback) {
            });
        });
    </script>
    <script>
        $(".favourite").click(function(){
            var id = $(this).attr('data-specialist-id');
            if (typeof parseInt(id) === 'number' ) {
                $.get({
                    url: '/favorite/add/?specialist=' + id,
                    success: function(response) {
                        if (response.created) {
                            alert(response.flash_message);
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}