{% load staticfiles widget_tweaks thumbnail %}
<div class="review_modal">
    <div class="review_form">
        <span class="close_modal"><i class="fa fa-times" aria-hidden="true"></i></span>
        {% if user.is_authenticated %}
            {% if user.rating_set.all|length >= 1 %}
                <p>Вы уже добавляли отзыв</p>
            {% else %}
                <form action="{% url 'create_review_specialist' master.slug %}" method="post" id="review_form">
                    {% csrf_token %}
                    <p>НАПИСАТЬ ОТЗЫВ</p>
                    <span></span>

                    <div class="evaluation">
					<span class="star-cb-group">
                        {{ form.count|add_class:"star_rating"}}
    				</span>
                    </div>

                    {{ form.comment }}

                    <button type="submit" class="button">Оставить отзыв</button>
                </form>
            {% endif %}

        {% else %}
            <p>Авторизуйтесь чтобы оставить отзыв</p>
        {% endif %}

    </div>
</div>