{% extends 'base.html' %}
{% load staticfiles thumbnail %}
{% block content %}
    <main class="all_specialists">
        <div class="grid">
            <div class="masters">
                <form method="get" class="filter_form" name="specialist_filter">
                    <label>
                        {{ specialist_filter.form.search }}
                    </label>
                    <button type="submit"></button>
                </form>
                <p>СПЕЦИАЛИСТЫ</p>
                <div>
                    {% for specialist in specialist_filter.qs %}
                        <div class="master">
                            <a href="#" class="master_img">
							<span>
                                {% if specialist.photo %}
                                    {% thumbnail specialist.photo "154x154" as im %}
                                        <img src="{{ im.url }}" alt={{ specialist.full_name }}>
                                    {% endthumbnail %}
                                {% endif %}
							</span>
                            </a>
                            <div class="master_desc">
                                <h4>{{ specialist.full_name }}</h4>
                                <span>
                                  {{ specialist.get_categories }}
                                </span>
                                <span></span>
                                <p>{{ specialist.short_info }}</p>
                                <ul>
                                    <li>
                                        {{ specialist.street_address }}
                                    </li>
                                    <li>
                                        {% for contact in specialist.specialist_contacts.all %}
                                            {{ contact.phone }}
                                        {% endfor %}
                                    </li>
                                </ul>
                            </div>
                            <a href="#">ПОСМОТРЕТЬ</a>
                        </div>
                    {% endfor %}
                </div>
                <a href="#">БОЛЬШЕ СПЕЦИАЛИСТОВ</a>
            </div>
        </div>
    </main>
{% endblock %}