{% load i18n staticfiles %}
{% load cache %}
{% load mptt_tags %}
{% load extra_tags %}

<div class="filter-item no-selection filter-categories mrg-b-10">
    <div class="categories-wrap">
        <div class="live-search">
            <input type="text" id="live-search-input" placeholder="{% trans 'Найти категорию' %}">
        </div>
            <ul class="categories">
                {% for category in category_list %}
                    <li class="main-category input root">
                    {% if category.get_children %}<i class="qv qv-down3 qv-gray"></i>{% endif %}
                    <input type="checkbox" name="categories" id="category-{{ category.pk }}"
                           value="{{ category.slug }}">
                    <label for="category-{{ category.pk }}">
                        <span class="box"></span>
                        <span class="name">{{ category.name }}</span>
                    </label>
                    <ul class="children">
                        {% recursetree category.get_descendants %}
                            <li class="input {% if node.level < 2 %}child {% else %} leaf{% endif %}">
                                {% if node.children.count > 0 %}<i class="qv qv-down3 qv-gray"></i>{% endif %}
                                <input type="checkbox" name="categories" id="category-{{ node.pk }}"
                                       value="{{ node.slug }}">
                                <label for="category-{{ node.pk }}">
                                    <span class="box"></span>
                                    <span class="name">{{ node.name }}</span>
                                </label>
                                <ul class="children children-children">
                                    {% if not node.is_leaf_node %}
                                        {{ children }}
                                    {% endif %}
                                </ul>
                            </li>
                        {% endrecursetree %}
                    </ul>
                {% endfor %}
            </ul>
    </div>
</div>