{% extends 'base.html' %}
{% load staticfiles thumbnail widget_tweaks pagination_tags %}
{% block content %}
    <main class="result_page">
        <div class="grid">
            <form action="" name="reservation_filter" method="get" class="sort">
                <div class="sort_forms">
                    <span>Время записи</span>
                    <div class="date_limit">
                        <span>c</span>
                        <div class="fieldset__wrapper">
                            {{ reservation_filter.form.created_at_from|add_class:"datepicker" }}
                        </div>
                    </div>

                    <div class="date_limit">
                        <span>до</span>
                        <div class="fieldset__wrapper">
                            {{ reservation_filter.form.created_at_to|add_class:"datepicker" }}
                        </div>
                    </div>

                    <label><span>Статус</span>
                        {{ reservation_filter.form.status }}
                    </label>

                    <button type="submit" class="button">Применить фильтр</button>
                </div>

                <div class="sort_search">
                    {{ reservation_filter.form.search_specialist_profile }}
                </div>
            </form>
            <ul class="applicants_list">
                <li class="list_header">
                    <div>
                        <span>Специалист</span>
                        <span>Время записи</span>
                        <span>Контакты</span>
                        <span>Статус</span>
                        <span></span>
                    </div>
                </li>
                {% autopaginate reservation_filter.qs 50 as reservations %}
                {% for reservation in reservations %}
                    <li>
                        <div>
                            <p>
                                <a href="{% url "master_detail" master_slug=reservation.specialist.slug %}" target="_blank">
                                    {{ reservation.specialist }}
                                </a>
                            </p>
                        </div>

                        <div>
                            <span>{{ reservation.date_time_reservation }}</span>
                        </div>

                        <div>
                            <span>{{ reservation.specialist.street_address }}</span>
                            {% for contact in reservation.specialist.specialist_contacts.all %}
                                <span>{{ contact.phone }}</span>
                            {% endfor %}
                        </div>

                        <div class="applicant_status">
                            {% if reservation.status == 'confirmed' %}
                                <span class="confirmed">Подтвержден</span>
                            {% endif %}
                            {% if reservation.status == 'armored' %}
                                <span class="expect">Ожидает подтверждения</span>
                            {% endif %}
                            {% if  reservation.status == 'refused' %}
                                <span class="non_confirmed">Отказано</span>
                            {% endif %}
                        </div>
                        <div>
                        {% if reservation.status == 'armored' %}

                                <button type="submit" class="button disagree"
                                        onclick="cancelReservation({{ reservation.id }}, '{{ reservation.specialist.slug }}')">
                                    Отменить
                                </button>

                        {% endif %}
                        </div>
                    </li>
                {% empty %}
                    <p class="no_result">Нет записей</p>
                {% endfor %}
            </ul>
            {% paginate %}
        </div>
    </main>
{% endblock %}

{% block js %}
    <script>
        function cancelReservation(id, slug) {
            if (confirm('Вы подтверждаете?')) {
                $.ajax({
                    url: '/api/reservation/cancel/' + slug + '/' + id + '/',
                    method: 'delete',
                    headers: {
                        'X-CSRFToken': '{{csrf_token}}',
                        'Authorization': 'Token {{request.session.token_key}}'
                    },
                    success: function (response) {
                        window.location.reload();
                    }
                });
            }
        }
    </script>
{% endblock %}