{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <main class="account_page">
        <div class="grid login_page">
            <h4>Вход</h4>
            {% get_providers as socialaccount_providers %}
            {% if socialaccount_providers %}
                <p>Войти через социальные сети.</p>
                <div class="socialaccount_ballot">
                    <ul class="socialaccount_providers">
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    </ul>
                    <p>{% blocktrans with site.name as site_name %} Для регистрации через почтовый ящик, перейдите по
                        ссылке
                        <a href="{{ signup_url }}">"Регистрация".</a>{% endblocktrans %}</p>

                </div>
                {% include "socialaccount/snippets/login_extra.html" %}
            {% else %}
                <p>{% blocktrans %}Если вы еще не создали учетную запись, сначала
                    <a href="{{ signup_url }}">зарегистрируйтесь.</a>{% endblocktrans %}</p>
            {% endif %}
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <p class="text-danger">{{ form.login.errors|striptags }}</p>
                {{ form.login|attr:'required' }}
                <p class="text-danger">{{ form.password.errors|striptags }}</p>
                {{ form.password|attr:'required' }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}

                <button type="submit" class="button">{% trans "Sign In" %}</button>
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

            </form>
        </div>
    </main>
{% endblock %}