{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <main class="edit_information edit_password">
        <div class="grid">
            <h4>Сменить пароль</h4>

            <form action="{% url 'account_change_password' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button">Сохранить</button>
            </form>
        </div>
    </main>
{% endblock %}