{% extends "account/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <main class="account_page">
        <div class="grid">

            <div class="s_register c_register">
                <p>Регистрация</p>
                <span></span>

                {% load socialaccount %}
                {% providers_media_js %}
                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    <p class="text-danger">{{ form.username.errors|striptags }}</p>
                    <input type="hidden" placeholder="ФИО" name="username" required="">
                    <p class="text-danger">{{ form.email.errors|striptags }}</p>
                    {{ form.email }}
                    <p class="text-danger">{{ form.password1.errors|striptags }}</p>
                    {{ form.password1|attr:'required' }}
                    <p class="text-danger">{{ form.password2.errors|striptags }}</p>
                    {{ form.password2|attr:'required' }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}

                    <ul class="socialaccount_providers">
                        <li style="list-style: none;"><a href="{% provider_login_url "facebook" method="js_sdk" %}">
                            Войти через <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        </li>
                        <li style="list-style: none;"><a href="{% provider_login_url "google" method="js_sdk" %}">
                            Войти через <i class="fa fa-google-plus" aria-hidden="true"></i>
                        </a></li>
                    </ul>

                    <button type="submit" class="button">{% trans "Sign Up" %}</button>
                </form>

                <a href="{{ login_url }}">Уже зарегистрированы?</a>
            </div>
        </div>
    </main>

    <script>
        document.querySelector("#id_email").addEventListener('change', function(event){
            let value = event.target.value;
            value = value.split('@').join('');
            value = value.split('.').join('');
            document.querySelector("input[name=username]").value = value;
        });
    </script>

{% endblock %}