{% extends "account/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <main class="account_page">
        <div class="grid login_page">
            <h4>{% trans "Sign Up" %}</h4>

            <p>{% blocktrans %} Уже зарегистрированы? <a href="{{ login_url }}">Вход</a>{% endblocktrans %}</p>
            {% load socialaccount %}
            {% providers_media_js %}
            {#    <ul class="socialaccount_providers">#}
            {#        <li style="list-style: none;"><a href="{% provider_login_url "facebook" method="js_sdk" %}"><img src="{% static 'static/img/face.png' %}"></a></li>#}
            {#    </ul>#}
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">

                {% csrf_token %}
                <p class="text-danger">{{ form.username.errors|striptags }}</p>
                {{ form.username }}
                <p class="text-danger">{{ form.email|striptags }}</p>
                {{ form.email }}
                <p class="text-danger">{{ form.password1|striptags }}</p>
                {{ form.password1|attr:'required' }}
                <p class="text-danger">{{ form.password2|striptags }}</p>
                {{ form.password2|attr:'required' }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button type="submit" class="button">{% trans "Sign Up" %}</button>
            </form>
        </div>
    </main>
{% endblock %}