{% load i18n staticfiles widget_tweaks account %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Checkin</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    {% block head %}{% endblock %}
</head>
<body>

<div class="modal logout_modal">
    <div>
        <p>Вы уверены что хотите выйти?</p>
        <form action="{% url 'account_logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Да</button>
        </form>
        <button class="no">Нет</button>
    </div>
</div>

<div class="order-modal-wrap" style="display: none;">
    <div class="order-modal">
        <span class="close_modal"><i class="fa fa-times" aria-hidden="true"></i></span>
        <div class="title">Записаться</div>
        <div class="title-time"></div> 
        <div class="inputs">
            <input type="text" placeholder="Имя" id="full_name" value="{{request.user.get_full_name}}">
            <input type="phone" class="mask" placeholder="Телефон" id="phone" onkeypress="app.makeOrder(true, event)">
            <button id="make-order" onclick="app.makeOrder(false, null)">Записаться</button>
        </div>
        <div class="error"></div>
        <div class="success"></div>
    </div>
</div>

<div class="order-modal-wrap modal-calendar-admin" style="display: none;">
    <div class="order-modal">
        <span class="close_modal"><i class="fa fa-times" aria-hidden="true"></i></span>
        <div class="title">Записать</div>
        <div class="title-time"></div> 
        <div class="inputs">
            <input type="text" placeholder="Имя" id="full_name_admin" value="">
            <input type="phone" class="mask" placeholder="Телефон" id="phone_admin" onkeypress="app.makeOrder(true, event);">
            <button id="make-order_admin" onclick="app.makeOrder(false, null)">Записать</button>
        </div>
        <div class="error"></div>
        <div class="success"></div>
    </div>
</div>

<div class="blur">
    {% include 'header.html' %}
    {% block content %}{% endblock %}
    <a href="#" class="go-top">Наверх</a>
    {% include 'footer.html' %}
</div>




<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>