<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Services</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	
	<div class="modal">
		<div class="s_register">
			<p>РЕГИСТРАЦИЯ</p>
			<span></span>
			<form action="#" method="post">
				<label>
					<input type="email" placeholder="e-mail">
				</label>

				<label>
					<input type="password" placeholder="Пароль" id="password" required>
				</label>

				<label>
					<input type="password" placeholder="Повторите пароль" id="confirm_password" required>
				</label>

				<button type="submit">Зарегистрироваться</button>
				<span class="r_user">Уже есть аккаунт?</span>

			</form>

		</div>
	</div>

	<div class="modal c_modal">
		<div class="s_register c_register">
			<p>ВХОД</p>
			<span></span>
			<form action="#" method="post">
				<label for="email">
					<input type="email" placeholder="E-mail">
				</label>

				<label>
					<input type="password" placeholder="Пароль">
				</label>

				<button type="submit">Войти</button>
				<span class="n_user">Нет аккаунта?</span>
			</form>
		</div>
	</div>

	<div class="modal logout_modal">
		<div>
			<p>Вы уверены что хотите выйти?</p>
			<form action="#">
				<button type="submit">Да</button>
				<button class="no">Нет</button>
			</form>
		</div>
	</div>
	<div class="blur">
		<header>
			<div class="grid">
				<div>
					<ul class="menu" id="menu">
						<li><a href="#" class="link_active">Специалисты</a></li>
						<li><a href="#">Учреждения</a></li>
						<li><a href="#">О нас</a></li>
					</ul>
					<a href="#"><img src="img/logo.png" alt="logotype"></a>
					<ul class="menu">
						<li id="log-in"><a href="#">Вход</a></li>
						<li id="sign-up"><a href="#">Регистрация</a></li>
					</ul>

					<ul class="authorised_user">
						<li><a href="#">Стать специалистом</a></li>
						<li><a href="#">Стать учреждением</a></li>
						<li>
							<img src="img/user-icon.svg" alt="image">
							<ul class="sub_menu">
								<li><a href="#">Мой профиль</a></li>
								<li><a href="#">Личный кабинет</a></li>
								<li><a href="#" class="log-out">Выход</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</header>
<main class="edit_information edit_password">
	<div class="grid">
				<h4>Сменить пароль</h4>

				<form action="#" method="post">
					<input type="password" placeholder="Введите старый пароль..." required>
					<input type="password" placeholder="Введите новый пароль..." required>
					<input type="password" placeholder="Повторите новый пароль..." required>
					<button type="submit" class="button">Сохранить</button>
				</form>

				
	</div>
</main>
<footer>
	<div class="grid">
		<div class="logo">
			<a href="#">
				<img src="img/f_logo.png" alt="image">
			</a>
		</div>

		<div class="f_block">
			<ul class="f_menu">
				<li><a href="#">Специалисты</a></li>
				<li><a href="#">Учреждения</a></li>
				<li><a href="#">О нас</a></li>
			</ul>

			<ul class="f_menu">
				<li><a href="#">Стать специалистом</a></li>
				<li><a href="#">Стать учреждением</a></li>
			</ul>

			<div>
				<ul class="contacts">
					<li>+ 996 780 977 677<br><br>+ 996 780 977 674</li>
					<li>info@services.kg</li>
				</ul>

				<ul class="share">
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
				</ul>
			</div>

			
		</div>
	</div>
</footer>
</div>

<script src="js/main.js"></script>
</body>
</html>