{% load staticfiles extra_tags %}
{% if request.user.is_authenticated %}
    {% user_administrator user as administrator %}
{% endif %}
<footer>
    <div class="grid">
        {% if not request.user.is_authenticated %}
            <div class="logo">
                <a href="/">
                    <img src="{% static 'img/f_logo.png' %}" alt="image">
                </a>
            </div>
            <div class="f_block">
                <ul class="f_menu">
                    <li><a href="{% url 'masters' %}">Специалисты</a></li>
                    <li><a href="{% url 'company_list' %}">Учреждения</a></li>
                    <li><a href="#">О нас</a></li>
                </ul>
                <ul class="f_menu">
                    <li><a href="{% url 'new_master' %}">Стать специалистом</a></li>
                    <li><a href="{% url 'new_company' %}">Стать учреждением</a></li>
                </ul>
                <div>
                    <ul class="contacts">
                        <li>+ 996 780 977 677<br><br>+ 996 780 977 674</li>
                        <li>info@services.kg</li>
                    </ul>
                    <ul class="share">
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>

        {% endif %}
        {% if request.user.is_authenticated %}
            {% if administrator %}
                {% for company in administrator %}
                    <div class="logo">
                        <a href="{% url 'master_list_company' company.slug %}" class="logotype"><img
                                src="{% static 'img/f_logo.png' %}" alt="logo"></a>
                    </div>
                {% endfor %}
            {% endif %}

        {% if not administrator %}
            <div class="logo">
                <a href="/">
                    <img src="{% static 'img/f_logo.png' %}" alt="image">
                </a>
            </div>
            <div class="f_block">
                <ul class="f_menu">
                    <li><a href="{% url 'masters' %}">Специалисты</a></li>
                    <li><a href="{% url 'company_list' %}">Учреждения</a></li>
                    <li><a href="#">О нас</a></li>
                </ul>
                <ul class="f_menu">
                    <li><a href="{% url 'new_master' %}">Стать специалистом</a></li>
                    <li><a href="{% url 'new_company' %}">Стать учреждением</a></li>
                </ul>
                <div>
                    <ul class="contacts">
                        <li>+ 996 780 977 677<br><br>+ 996 780 977 674</li>
                        <li>info@services.kg</li>
                    </ul>
                    <ul class="share">
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
        {% endif %}
        {% if administrator %}
            <div class="f_block">
                <div>
                    <ul class="contacts">
                        <li>+ 996 780 977 677<br><br>+ 996 780 977 674</li>
                        <li>checkin.kg@gmail.com</li>
                    </ul>
                    <ul class="share">
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endif %}
    </div>
</footer>